.td-marker-wrapper {
  height:0; width:0;
  box-shadow:none;
}
.td-marker {
  position:absolute;
  box-shadow:none !important;
  pointer-events:none;
  z-index:999;
  background:rgba(255,0,0,0.75);
  color:#fff;
  border-radius:0 0 6px 0px;
  padding:2px 6px 3px 2px;
  font-size:9px;
}
