html, body {
  padding:0;
  margin:0;
}

/* ********** */
/* ********** */

.hidden {
  display:none;
}


/* ********** */
/* ********** */

.alignment-guide {
  width:1px; background:cyan; height:100%; position:fixed; top:0; bottom:0; margin:auto !important; z-index:9999;
}

.link-marker-wrapper {
  position: absolute;
  top:0; left:0;
  width:100%; height:100%;
  max-width:100%;
  overflow:hidden;
  pointer-events: none;
}
  a.marked {
  position:relative;
}


.link-marker {
  display:none;
  background:#1e78d7;
  position:absolute;
  border-radius:50px;
  width:18px; height:18px;
  z-index:698;
  cursor:default;
  user-select: none;
  opacity:1;
  margin-left:-4px !important;
  margin-top:-4px !important;
  border:2px solid transparent;
  color:#fff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align:center;
  font-size:14px;
  line-height:18px;
  font-weight:400;
}
.link-marker:hover {
  transform:scale(1.35,1.35);
  z-index:700;
}

.link-marker.error {
  display:block;
  background:#d20758;
  box-shadow: 0 0 3px 2px #d20758;
  animation: linkMarkerColorPulse 1.5s ease infinite;
}

  @keyframes linkMarkerColorPulse {
    0%   {  background:#d20758; box-shadow: 0 0 3px 2px #d20758; }
    50%  {  background:#e43179; box-shadow: 0 0 3px 2px #e43179; }
    100% {  background:#d20758; box-shadow: 0 0 3px 2px #d20758; }
  }
}

  @keyframes linkMarkerSizePulse {
    0%   {  background:#d20758; box-shadow: 0 0 3px 2px #d20758; }
    50%  {  background:#e43179; box-shadow: 0 0 3px 2px #e43179; }
    100% {  background:#d20758; box-shadow: 0 0 3px 2px #d20758; }
  }


.link-errors {
  display:none;
  font-weight:400;
  color:#d20758;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  position:fixed;
  font-size:14px;
  bottom:0; left:0;
  width:100%;
  /*min-height:60px;*/
  height:auto;
  background:#d20758;
  box-shadow:0 0 30px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
  transition: margin 3s;
  z-index:699;
}

.link-marker:hover + .link-errors {
  display:block;
  animation: slowReveal .15s ease-out 1;
}

  @keyframes slowReveal {
    0%   {  margin-bottom:-100px; }
    100% {  margin-bottom:0; }
  }

.link-errors .link-errors-wrapper {
  padding:20px 20px 12px 20px;
}
.link-errors .link-errors-wrapper > section {
  display:inline-block;
  font-weight:400 !important;
  border-radius:30px;
  text-align:center;
  padding:10px 18px 10px 36px;
  background:#fff;
  margin:0 8px 8px 0;
  position:relative;
}

.link-errors .link-errors-wrapper > section:before, .link-errors .link-errors-wrapper > section:after {
  content:"";
  background-color:#d20758;
  width:16px;
  height:4px;
  display:block;
  position:absolute;
  margin:auto;
  left:14px;
  top:0; bottom:0;
}
.link-errors .link-errors-wrapper > section:before {
  transform:rotate(45deg);
}
.link-errors .link-errors-wrapper > section:after {
  transform:rotate(-45deg);
}

.link-errors .link-errors-url {
  font-family: 'Courier New';
  /*font-size:12px;*/
  color:#fff;
  padding:15px 15px 15px 25px;
  display:block;
  width:100%;
  background:rgba(255,255,255,0.2);
}

/*.link-markers-off .link-marker {
  displ
}*/
.on-page-load .link-marker {
  /*display:none !important;*/
  animation: fadeOutOnLoad 1.25s ease forwards;
  animation-delay: .33s;
  pointer-events: none;
}
  @keyframes fadeOutOnLoad {
    0%   {  opacity:1; }
    100% { opacity:0; }
  }

/* ================= */

.text-error {
  box-shadow:0 0 0 4px #ffca4a;
  border-radius:12px;
  background:#fff697;
  animation: textError .5s ease infinite;
  color:#605c31;
}

  @keyframes textError {
    0%   {  box-shadow:0 0 0 4px #fff697; background:#fff697; }
    50%  {  box-shadow:0 0 0 8px #fff373; background:#fff373; }
    100% {  box-shadow:0 0 0 4px #fff697; background:#fff697; }
  }
