.link-marker-wrapper {
  position: absolute;
  top:0; left:0;
  width:100%; height:100%;
  max-width:100%;
  overflow:hidden;
  pointer-events: none;
}
  a.marked {
  position:relative;
}
.link-marker {
  display:none;
  background:#1e78d7;
  position:absolute;
  border-radius:50px;
  width:12px; height:12px;
  z-index:100;
  cursor:pointer;
  opacity:1;
  margin-left:-8px;
  margin-top:-8px;
  border:2px solid transparent;

}
.link-marker:hover {
  transform:scale(1.5,1.5);
}
.link-marker.error {
  display:block;
  background:#d20758;
  box-shadow: 0 0 3px 2px #d20758;
}

.link-errors {
  display:none;
  font-weight:400;
  color:#d20758;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  position:fixed;
  font-size:14px;
  bottom:0; left:0;
  width:100%;
  /*min-height:60px;*/
  height:auto;
  background:#d20758;
  box-shadow:0 0 30px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
  padding:20px 20px 12px 20px;
  transition: margin 3s;
}

.link-marker:hover + .link-errors {
  display:block;
  animation: slowReveal .15s ease-out 1;
}

  @keyframes slowReveal {
    0%   {  margin-bottom:-100px; }
    100% {  margin-bottom:0; }
  }

.link-errors div {
  display:inline-block;
  font-weight:400 !important;
  border-radius:30px;
  text-align:center;
  padding:10px 18px 10px 36px;
  background:#fff;
  margin:0 8px 8px 0;
  position:relative;
}

.link-errors div:before, .link-errors div:after {
  content:"";
  background-color:#d20758;
  width:16px;
  height:4px;
  display:block;
  position:absolute;
  margin:auto;
  left:14px;
  top:0; bottom:0;
}
.link-errors div:before {
  transform:rotate(45deg);
}
.link-errors div:after {
  transform:rotate(-45deg);
}

/* ================= */

.text-error {
  box-shadow:0 0 0 4px #ffca4a;
  border-radius:12px;
  background:#fff697;
  animation: textError .5s ease infinite;
}

  @keyframes textError {
    0%   {  box-shadow:0 0 0 4px #fff697; background:#fff697; }
    50%  {  box-shadow:0 0 0 8px #fff373; background:#fff373; }
    100% {  box-shadow:0 0 0 4px #fff697; background:#fff697; }
  }
