html, body {
  /*padding:0;*/
  /*margin:0;*/
}

/* ********** */
/* ********** */

@font-face {
  font-family: "medbridge-chrome-extension";
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/medbridge-chrome-extension.woff);
  /*src: url(chrome-extension://__MSG_@@extension_id__/medbridge-chrome-extension.woff);*/
  font-weight: normal;
  font-style: normal;
}

.fontastic-icon:before, [data-icon]:before {
  font-family: "medbridge-chrome-extension" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fontastic-icon:before {
  display: flex !important;
  align-items: center;
}

/* ********** */
/* ********** */

.hidden {
  display:none;
}


/* ********** */
/* ********** */

.alignment-guide {
  width:1px; background:cyan; height:100%; position:fixed; top:0; bottom:0; margin:auto !important; z-index:5000;
}

.link-marker-wrapper {
  position: absolute;
  top:0; left:0;
  width:100%; height:100%;
  max-width:100%;
  overflow:hidden;
  pointer-events: none;
}
  a.marked {
  position:relative;
}


.link-marker {
  display:none;
  background:#1e78d7;
  position:absolute;
  border-radius:50px;
  width:18px; height:18px;
  z-index:6000;
  cursor:default;
  user-select: none;
  opacity:1;
  margin-left:-4px !important;
  margin-top:-4px !important;
  border:2px solid transparent;
  color:#fff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align:center;
  font-size:14px;
  line-height:18px;
  font-weight:400;
}
.link-marker:hover {
  transform:scale(1.35,1.35);
  z-index:9001;
}

.link-marker.error {
  display:block;
  background:#d20758;
  box-shadow: 0 0 3px 2px #d20758;
  animation: linkMarkerColorPulse 1.5s ease infinite;
}

  @keyframes linkMarkerColorPulse {
    0%   {  background:#d20758; box-shadow: 0 0 3px 2px #d20758; }
    50%  {  background:#e43179; box-shadow: 0 0 3px 2px #e43179; }
    100% {  background:#d20758; box-shadow: 0 0 3px 2px #d20758; }
  }
}

  @keyframes linkMarkerSizePulse {
    0%   {  background:#d20758; box-shadow: 0 0 3px 2px #d20758; }
    50%  {  background:#e43179; box-shadow: 0 0 3px 2px #e43179; }
    100% {  background:#d20758; box-shadow: 0 0 3px 2px #d20758; }
  }


.link-errors {
  display:none;
  font-weight:400;
  color:#d20758;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  position:fixed;
  font-size:12px;
  bottom:0; left:0;
  width:100%;
  /*min-height:60px;*/
  height:auto;
  background:#d20758;
  box-shadow:0 0 30px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
  transition: margin 3s;
  z-index:9000;
}

.link-marker:hover + .link-errors {
  display:block;
  animation: slowReveal .15s ease-out 1;
}

  @keyframes slowReveal {
    0%   {  margin-bottom:-100px; }
    100% {  margin-bottom:0; }
  }

.link-errors .link-errors-wrapper {
  padding:20px 20px 12px 20px;
}
.link-errors .link-errors-wrapper > section {
  display:inline-block;
  font-weight:400 !important;
  border-radius:30px;
  text-align:left;
  padding:10px 18px 10px 36px;
  background:#fff;
  margin:0 8px 8px 0;
  position:relative;
}
.link-errors code {
  color:#6b0e33;
  font-size:12px;
}
.link-errors .link-errors-wrapper > section.warning {
  padding-left:18px;
  background: transparent;
  box-shadow:0 0 0 2px #fff;
  color:#fff;
}

/* */
/* Error Icons */
/* */
.link-errors .link-errors-wrapper > section.error:before, .link-errors .link-errors-wrapper > section.error.error-icon-x:after {
  color:#d20758;
  /*display:block;*/
  position:absolute;
  margin:auto;
  left:14px;
  top:0; bottom:0;
}

.link-errors .link-errors-wrapper > section.error.error-icon-x:before, .link-errors .link-errors-wrapper > section.error.error-icon-x:after {
  content:"";
  background-color:#d20758;
  width:16px;
  height:4px;
}
.link-errors .link-errors-wrapper > section.error.error-icon-x:before {
  transform:rotate(45deg);
}
.link-errors .link-errors-wrapper > section.error.error-icon-x:after {
  transform:rotate(-45deg);
}

.link-errors .link-errors-wrapper > section.error.error-icon-lock:before {
  content: "\50";
  font-size:18px;
}





.link-errors .link-errors-url {
  font-family: 'Courier New';
  font-size:12px;
  line-height:20px;
  color:#fff;
  padding:15px 15px 15px 20px;
  display:block;
  /*width:100%;*/
  word-break: break-word;
  word-wrap: break-word;
  background:rgba(255,255,255,0.2);

    display: flex;
    align-items: center;
}

.link-errors .link-errors-url .link-number {

  width: 18px;
  min-width: 18px;
  max-width: 18px;

  height: 18px;
  min-height: 18px;
  max-height: 18px;

  line-height: 18px;

  display: inline-block;
  border-radius: 30px;
  background: #fff;

  color: #d20758;
  text-align: center;
  position: relative;
  padding: 3px;
  font-weight: bold;
  font-size:14px;
  white-space: nowrap;
  overflow: hidden;
  margin-right:8px;
  font-family: Helvetica, Arial, sans-serif;
}

/*.link-markers-off .link-marker {
  displ
}*/
.on-page-load .link-marker {
  /*display:none !important;*/
  animation: fadeOutOnLoad 1.25s ease forwards;
  animation-delay: .33s;
  pointer-events: none;
}
  @keyframes fadeOutOnLoad {
    0%   {  opacity:1; }
    100% { opacity:0; }
  }

/* ================= */

.text-error {
  box-shadow:0 0 0 4px #ffca4a;
  border-radius:12px;
  background:#fff697;
  animation: textError .5s ease infinite;
  color:#605c31;
}

.text-errors-off .text-error, .all-helpers-off .text-error {
  box-shadow: none;
  border-radius: 0;
  background: none;
  color: inherit;
  animation:none;
}

  @keyframes textError {
    0%   {  box-shadow:0 0 0 4px #fff697; background:#fff697; }
    50%  {  box-shadow:0 0 0 8px #fff373; background:#fff373; }
    100% {  box-shadow:0 0 0 4px #fff697; background:#fff697; }
  }


/* ================= */


.all-helpers-off .debug {
  display:none;
}




/***********************
/***********************
/***********************

  MailChimp Conditionals

 ***********************
 ***********************
 **********************/



elseif, else {
  /*display: initial !important;*/
}
