/*body {
	padding:200px !important;
}*/

:root {
  --pt: #e3c902;
  --at: #ff620d;
  --ot: #bf002d;
  --slp: #00c2e0;
  --other: #bd00bf;
  --massage: #1aa37a;
  --enterprise: #565e61;

  --pt-dark: #e3c902;
  --at-dark: #db5209;
  --ot-dark: #9e0025;
  --slp-dark: #0091a7;
  --other-dark: #bd00bf;
  --massage-dark: #1aa37a;
  --enterprise-dark: #565e61;
}
