html, body {
  overflow:hidden;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.og-dom {
  display:none;
}

.qa-control-off .info-bar, .qa-control-off .info-bar .orb:not(.qa-control) {
  display:none;
}
.qa-off .control-bar {
  opacity:.75;
  transition: all 1s;
}
.qa-off .control-bar:hover {
  opacity:1;
  transition: all .25s;
}
.qa-off .orb {
  box-shadow:none;
  background:#ccc;
}




/*********************/

.control-bar {
  width:80px;  min-width:80px;  max-width:80px;
  /*width:128px; min-width:128px; max-width:128px;*/

  height:100%;
  background:#26272d;
  /*padding:0 0 34px 0;*/
  font-family:Helvetica;
  color:#fff;
  /*font-weight:bold;*/
  text-align:center;

  box-sizing:border-box;

  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;

  z-index:2;
}

.orbs-bottom, .orbs-top {
  display:flex;
  align-items:center;
}
.orbs-bottom {
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding-bottom:37px;
}
.orbs-top {
  flex-direction: column-reverse;
  padding-top:37px;
}



.orb {
  width:40px; height:40px; line-height:40px;

  font-size:18px;
  -webkit-font-smoothing: antialiased;
  color:#fff;
  text-decoration:none;

  /*width:60px; height:60px; line-height:60px; font-size:24px; margin-top:15px;*/

  border-radius:100%;
  background:#474d5c;
  cursor:pointer;
  position:relative;
  font-weight:normal;

  box-shadow: inset rgba(255,255,255,0.15) 0 0 0 2px, rgba(23, 23, 27, 1) 0px 0px 0px 2px, rgba(23, 23, 27, .75) 0px 0px 0px 4px;
  transition:all .3s;
}
.orbs-bottom .orb { margin-top:10px; }
.orbs-top .orb { margin-bottom:10px; }

.orb:hover { color:#fff; transform:scale(1.1, 1.1); transition:none; -webkit-transform-style: preserve-3d; }
.orb:active { color:#fff; transform: scale(1, 1); -webkit-transform-style: preserve-3d; }
.orb:before { display:block; width:100%; height:100%; font-weight:normal; text-decoration:none; }
.orb:hover:before { color:#fff; }
.orb.glyph { font-family: "medbridge-chrome-extension"; }

.orb.on { animation: OrbPulse .75s ease infinite, orbFlash 1.15s infinite; /* width:110px; border-radius:20px; transition:width .125s; */ }
  @keyframes OrbPulse {
    0%   { transform:scale(1.1, 1.1); }
    50%  { transform:scale(1, 1); }
    100% { transform:scale(1.1, 1.1); }
  }
  @keyframes orbFlash {
    10% { background: #bf1d53; }
    50% { background: #ff3a7b; }
    90% { background: #bf1d53; }
  }

.orb.off {
  pointer-events: none;
  opacity:.5;
}
.orb.off:hover {
  cursor:default;
}

.qa-orb {
  background:#076AD2;
  /*box-shadow:0 5px 20px 0 rgba(0,0,0,0.35);*/
}
.qa-orb:hover { background:#197ee9; }
.qa-orb:before { content:"QA"; font-weight:bold; -webkit-font-smoothing: subpixel-antialiased; }
.qa-orb.off:hover { background:#aeaeae; }

.mobile-orb { background:#5d6372; }
.mobile-orb:before { content:"\73"; }

.split-view-orb { background:#593797; }
.split-view-orb:before { content:"\74"; }

.share-orb { order:1; background:#77C159; font-size:20px; }
.share-orb:before { content:"\76"; margin-left:-1px; }

.split-view-orb:before { content:"\74"; }

.edit-orb { order:1; background:#bf1d53; font-size:20px; }
.edit-orb:before { content:"\77"; }


.plain-text-orb { background:#90407e; }
.plain-text-orb:before { content:"\75"; }

/*.plain-text-modal {
  width:80%;
  height:80%;
  background:#fff;
  border-radius:8px;
  box-shadow:0 0 0 10px rgba(0,0,0,0.75);
  position:fixed;
  top:0; right:0; bottom:0; left:0;
  margin:auto;
  font-size:14px;
  color:#444;
  font-family:monospace;
  padding:40px;
  box-sizing:border-box;
  z-index:10;
}*/

.trello-orb {
  order:3;
  background:url("chrome-extension://__MSG_@@extension_id__/img/trello-dog.png") center center no-repeat #0084d1;
  background-size: 55%;
  align-self: flex-end;
}

.dropbox-orb {
  order:4;
  background:url("chrome-extension://__MSG_@@extension_id__/img/dropbox.png") center center no-repeat #fff;
  background-size: 55%;
  align-self: flex-end;
}

.local-orb { order:4; background:#f06c2b; font-size:20px; }
.local-orb:before { content:"\78"; line-height:40px; color:#fff; }

.mailchimp-orb {
  order:2;
  background:url("chrome-extension://__MSG_@@extension_id__/img/mailchimp.png") center center no-repeat #52bad5;
  background-size: 65%;
  align-self: flex-end;
}





.info-bar {
  width:350px;
  height:100%;
  color:#444;
  background:#26272d;
  font-size:14px;
  font-family:Helvetica;
  padding:20px;
}

.mod {
  border-radius:6px;
  background:#fff;
  overflow:hidden;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.2);
}
.mod .title {
  background:rgba(0,0,0,0.2);
  font-weight:bold;
  padding:5px 10px;
  font-size:14px;
}
.mod .mod-body {
  padding:12px 10px 14px 14px;
  line-height:18px;
}


.preheader-back { display:inline; color:rgba(0,0,0,0.4); }
.preheader-back:before { content:"90"; background:#c2cde2; color:#444; margin:0 4px; }
.preheader-back:after { content:"140"; background:#d7e1f4; color:#a8b2c5; margin:0 0 0 4px; }
.preheader-back:before, .preheader-back:after {
  border-radius:26px;
  display:inline-block;
  padding:0 5px;
  font-weight:bold;
  font-size:12px;
  bottom:1px;
  position:relative;
}

body.split-view-on {
    overflow:hidden;
}

.qa-wrapper {
  display:flex;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.qa-wrapper .info-bar { order:1; }
.qa-wrapper .iframe-wrapper { order:2; width:100%; }
.qa-wrapper .control-bar { order:3; }


.iframe-wrapper {
  width:100%;
  height:100%;
  display:flex;
}
.iframe-wrapper iframe {
  border:0;
  height:100%;
}

.desktop-view-wrapper {
  width:100%;
  flex-grow:1;
}
.iframe-desktop-view {
  width:100%;
  transition:border .125s;
  border:solid 0px #bf1d53;
}

.iframe-desktop-view.editing {
  background:#bf1d53;

  border:10px solid #bf1d53;
  transition:border .25s ease-in;

  box-sizing:border-box;

  animation: editingBorderPulse 2s infinite;
}

@keyframes editingBorderPulse {
  10%   { border-color: #bf1d53;}
  50%  { border-color: #ff3a7b;}
  90% { border-color: #bf1d53;}
}

.mobile-view-wrapper {
  /*width:100%;*/
  /*max-width:520px;*/
  /*min-width:360px;*/
  /*padding:40px 0;*/
  height:100%;
  /*border:0;*/
  /*overflow: hidden;*/
  box-sizing: border-box;
  background:#26272d;
  display:flex;
  padding:40px 0 40px 40px;
  max-width:540px;
  min-width:540px;
  transition:all .35s;
  z-index:1;
}
.mobile-view-wrapper.portrait {
  max-width:406px;
  min-width:406px;
}
.mobile-view-wrapper.off {
  /*display:none;*/
  width:0px;
  max-width:0px;
  min-width:0px;
  padding-left:0; padding-right:0;
  z-index:-10;
  transition:all .35s;
}
.mobile-view-wrapper.off .mobile-device-view {
  opacity:0;
  transition:all .35s;
}

.mobile-view-wrapper .iframe-mobile-view {
  width:100%;
  max-width:480px;
  min-width:360px;
  margin: auto;
  height:100%;
  box-sizing: border-box;
  border:0;
  background:#fff;
  flex-grow:1;
  border-radius:0 0 8px 8px;
}

.mobile-device-view {
  /*max-width:480px;*/
  width:360px;
  min-width:360px;
  height:100%;
  display:flex;
  flex-direction:column;
  border-radius:8px;
  box-shadow:0 0px 0px 6px #17171b;
  overflow:hidden;
  transition:all .35s;
}
.mobile-view-wrapper:not(.portrait) .mobile-device-view {
  width:480px;
  min-width:480px;
}

.mobile-iframe-settings {
  display:flex;
  /*border-radius:0 0 10px 10px;*/
  background:#18171d;
  height:50px;
  overflow:hidden;
  border-top:6px solid #17171b;
}
.mobile-iframe-settings > div {
  flex-grow:1;
  color:#fff;
  height:100%;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align:center;
  font-size:14px;
  cursor:pointer;
  /*border-right:6px solid #17171b;*/
  margin-right:6px;
  overflow:hidden;
  background:#1d1d23;
  box-shadow: inset 0 0 0 2px rgba(255,255,255,0.1);

  display:flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}
.mobile-iframe-settings .show-portrait {
  border-radius: 8px 0 0 8px;
}
.portrait .mobile-iframe-settings .show-portrait {
  background:#282830;
}
.mobile-view-wrapper:not(.portrait) .mobile-iframe-settings .show-landscape {
  background:#282830;
}
.mobile-view-wrapper:not(.portrait) .mobile-iframe-settings .show-landscape:hover, .portrait .mobile-iframe-settings .show-portrait:hover  {
  background:#32323b;
}
.mobile-iframe-settings > div:last-child {
  border-radius:0 8px 8px 0;
  margin:0;
}
.mobile-iframe-settings > div:hover {
  background:#323e88;
}




@media screen and (max-device-width: 1440px), screen and (max-width: 1440px) {
  /*.control-bar { width:80px; min-width:80px; max-width:80px; }*/
  /*.orb { width:40px; height:40px; line-height:40px; font-size:18px; margin-top:15px; }*/
  /*.qa-orb { margin-bottom:34px; }*/
}


/*@media screen and (max-device-width: 1280px), screen and (max-width: 1280px) {
  .info-bar { width:200px }
}


@media screen and (max-device-width: 1080px), screen and (max-width: 1080px) {
  .info-bar { width:150px; padding:0; font-size:12px; }
  .mod { border-radius:0; box-shadow:none; border-bottom:1px solid rgba(0,0,0,.2); border-right:1px solid rgba(0,0,0,.2); }
}


@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
  .info-bar, .control-bar { display:none; }
}*/
