/**********/
/* RESETS */
/**********/

html.powered-up, .powered-up body {
  height:100%;
}

html.powered-up {
  box-sizing: border-box;
}
.powered-up *, .powered-up *:before, .powered-up *:after {
  box-sizing: inherit;
}

.powered-up body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #444;
  /*background: linear-gradient(to bottom, rgba(19,19,24,1) 20px,rgba(43,43,51,1) 100px);*/
  background: rgba(43,43,51,1);
}

/* **** */
/* **** */
/* **** */

/*.disc-pt    ::selection  { background-color: var(--pt); }
.disc-at    ::selection  { background-color: var(--at); }
.disc-ot    ::selection  { background-color: var(--ot); }
.disc-slp   ::selection  { background-color: var(--slp); }
.disc-other ::selection  { background-color: var(--other); }
.disc-lmt   ::selection  { background-color: var(--lmt); }
.disc-dr    ::selection  { background-color: var(--drayer); }*/

/* **** */
/* **** */
/* **** */

.qa-wrapper {
  display:flex;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  /*background: linear-gradient(to bottom, rgba(19,19,24,1) 0%,rgba(43,43,51,1) 30%);*/
}
.qa-wrapper {
  padding-left:15px;
}

.qa-wrapper .info-bar { order:1; }
.qa-wrapper .iframe-wrapper { order:2; width:100%; }
.qa-wrapper .control-bar { order:3; }


.main-container {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  height:100%;
  width:100%;
  position: fixed;
  top:0;
  left:0;
}

.header-bar {
  display:none;
}
.header-bar {
  position: relative;

  height:66px;
  min-height: 66px;
  max-height: 66px;

  width:100%;
  min-width: 100%;
  max-width: 100%;

  margin-bottom:1px;

  padding:0 0px 0 15px;
  /*background:#131318;*/

  order:1;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
/*.header-bar:after {
  content:"";
  height:1px;
  background: #53535e;
  display: block;
  width: calc(100% - 30px);
  position: absolute;
  bottom:-1px; left:15px;
}*/
.qa-wrapper {
  order:2;
  position: relative;
  /*top: auto;*/
  /*left: auto;*/
}
.desktop-view-wrapper {
  /*border-radius:4px;*/
  margin: 0 5px 15px 0px;
  /*overflow: hidden;*/
}



.header-bar .page-title {
  order:1;
  /*padding-left:20px;*/
  color:#fff;
  display: flex;
  align-items: center;
}
.header-bar .page-title .title-large {
  font-size:16px;
  font-weight:500;
  -webkit-font-smoothing: antialiased;
  /*line-height: 28px;*/
  padding-bottom:4px;
}
  .header-bar .page-title .title-large:only-child { font-size:24px; padding:0; }

.header-bar .page-title .title-small {
  font-size:12px;
  font-weight: 100;
  color: #aaaab8;
}
.header-bar .page-title .disc-img {
  display: block;
  width:40px;
  height:auto;
  margin-right:12px;
}
.header-bar .page-title .email-disc {
  margin-right:25px;
  padding-right:25px;
  border-right: 1px solid #53535e;
}

/******************************/
/******************************/
/*                            */
/*         A/B Status         */
/*                            */
/******************************/
/******************************/

.ab-status {
  position: relative;
  perspective: 1000;
  width: 32px;
  min-width: 32px;
  height:32px;
  margin-right:10px;
  padding-top:0; padding-bottom:0;
}

.ab-status .card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.25s;
}

.ab-status:hover .card {
  transform: rotateX(180deg);
}

.ab-status .face {
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;

  font-weight:700;
  font-size: 22px;
  border-radius:4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ab-status .front {
  background:#44444e;
  z-index: 10;
}


.ab-status:hover .front {
  z-index: 0;
}

.ab-status .back {
  transform: rotateX(180deg);
}

.disc-pt    .ab-status .back  { box-shadow:inset 0 0 0 2px var(--pt);     color: #fff; }
.disc-at    .ab-status .back  { box-shadow:inset 0 0 0 2px var(--at);     color: #fff; }
.disc-ot    .ab-status .back  { box-shadow:inset 0 0 0 2px var(--ot);     color: #fff; }
.disc-slp   .ab-status .back  { box-shadow:inset 0 0 0 2px var(--slp);    color: #fff; }
.disc-other .ab-status .back  { box-shadow:inset 0 0 0 2px var(--other);  color: #fff; }
.disc-lmt   .ab-status .back  { box-shadow:inset 0 0 0 2px var(--lmt);    color: #fff; }
.disc-dr    .ab-status .back  { box-shadow:inset 0 0 0 2px var(--drayer); color: #fff; }


/******************************/
/******************************/
/*                            */
/*                            */
/*                            */
/******************************/
/******************************/

.header-bar .main-menu {
  color:#fff;
  font-weight:400;
  font-family: Roboto;
  font-size:15px;
  display: flex;
  order:2;
  /*align-self: flex-end;*/
  align-items: stretch;
}
.header-bar .main-menu a {
  text-decoration: none;
  color:#fff;
}
.header-bar .main-menu div {

  user-select:none;

  padding:0 16px;
  height:auto;
  line-height:100%;
  cursor:pointer;

  margin:10px 0;

  border-radius:4px;

  display: flex;
  align-items: center;
}
.header-bar .main-menu div:last-child {
  padding:0 15px 0 16px;
}

/*.header-bar .main-menu .nav-item:hover * { color:rgb(175,175,175); }*/

            .header-bar .main-menu :hover   { background-color: #ccc; }
.disc-pt    .header-bar .main-menu :hover   { background-color: var(--pt); }
.disc-at    .header-bar .main-menu :hover   { background-color: var(--at); }
.disc-ot    .header-bar .main-menu :hover   { background-color: var(--ot); }
.disc-slp   .header-bar .main-menu :hover   { background-color: var(--slp); }
.disc-other .header-bar .main-menu :hover   { background-color: var(--other); }
.disc-lmt   .header-bar .main-menu :hover   { background-color: var(--lmt); }
.disc-dr    .header-bar .main-menu :hover   { background-color: var(--drayer); }

.header-bar .main-menu .icon:before {
  display: inline-block;
  font-size:20px;
  font-weight:normal;
  font-family: medbridge-chrome-extension;
  padding-right:8px;
  -webkit-font-smoothing: antialiased;
  min-width:30px;
}

.header-bar .main-menu .nav-plain-text .icon:before { content:"\75"; }
.header-bar .main-menu .nav-share .icon:before      { content:"\76"; }
.header-bar .main-menu .nav-dropbox .icon:before    { content:"\4e"; font-size:22px; padding-right:6px; }
.header-bar .main-menu .nav-settings .icon:before   { content:"\4f"; font-size:26px; padding-right:3px; }


@media screen and (max-device-width: 960px), screen and (max-width: 960px) {

  .nav-item > *:last-child {
      display: none;
  }

  .header-bar .main-menu .nav-item {
    padding: 0 3px !important;
  }
  .header-bar .main-menu .nav-item .icon::before {
    padding:0 !important;
    text-align: center;
  }
}

/*.header-bar .main-menu .icon {
  display: none;
}*/



    /*@media screen and (max-device-width: 1440px), screen and (max-width: 1440px) {*/

      .header-bar {
        height:64px;
        min-height:64px;
        max-height:64px;
        padding:0 10px 0 15px;
      }

      .header-bar .main-menu {
        font-size:13px;
      }
        .header-bar .main-menu div {
          padding:0 15px;
        }

      .header-bar .page-title .email-disc {
        padding-right:15px;
        margin-right:15px;
      }

      /**/

      .header-bar .page-title .discipline-name {
        font-size:13px;
      }
      .header-bar .page-title .sub-type {
        font-size:11px;
      }

    /*}*/


/* **** */
/* **** */
/* **** */


.blog-check {
  z-index:-1;
  width:1px;
  height:1px;
  position:absolute;
  top:0;
  left:0;
  border:0;
  visibility:hidden;
  pointer-events:none;
}

html.powered-up, html.powered-up body {
  overflow:hidden;
  /*background:#26272d;*/
  /*background:#26272d;*/
}

[contenteditable]:focus {
  outline:0;
}

#dropbox-link-text {
  display:inline-block;
  z-index:-100;
  position:absolute;
  top:-100px; left:-100px;
  /*width:0;*/
}

/* ERROR CHECKING */
html.error-status:before {
  display:block;
  width:30px;
  line-height:30px;
  height:30px;
  border-radius:30px;
  text-align:center;

  position:absolute;
  bottom:15px;
  left:15px;
  z-index:999;

  background-color:transparent;
  color:rgba(255,255,255,.1);
  box-shadow:inset 0 0 0 3px rgba(255,255,255,0.1);

  font-size:20px;
  font-family: "medbridge-chrome-extension";
  content: "\6c";

  /*animation: errorPulse .75s ease 1, errorFade 2s ease 1s 1 forwards;*/
}
html.error-status.errors:before {
  background:#bb2f56;
  content: "\6f";
  color:#fff;
  animation: errorPulse .75s ease infinite;
}

  @keyframes errorPulse {
    0%   { transform:scale(1, 1); }
    50%  { transform:scale(1.35, 1.35); }
    100% { transform:scale(1, 1); }
  }
  @keyframes errorFade {
    0%   {  }
    100% { }
  }


/******/


.og-dom {
  display:none;
}
.og-dom.show {
  display:block;
  position:fixed;
  top:0; right:0; bottom:0; left:0;
  margin:auto;
  width:75vw;
  height:90vh;
  z-index:999;
  box-shadow:0 0 50px 5px rgba(0,0,0,0.5);
}




/*********************/

.control-bar {

  width:80px;  min-width:80px;  max-width:80px;

  margin:0 0 15px;

  border-radius:4px 0 0 4px;

  /*height:100%;*/
  /*background:#26272d;*/
  /*background:rgba(0,0,0,0.5);*/
  background:rgb(15,15,15);

  font-family:Roboto, Helvetica;
  color:#fff;

  text-align:center;

  box-sizing:border-box;

  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;

  z-index:2;

  transition: background 1s;

  overflow:hidden;
}
.control-bar:hover {
  background:rgb(18,18,18);
  transition: background .25s;
}

.orbs-bottom, .orbs-top {
  width:40px;
  display:flex;
  align-items:center;
}
.orbs-bottom {
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding-bottom:20px;
}
.orbs-top {
  flex-direction: column;
  padding-top:20px;
}



.orb {
  width:34px; height:34px; line-height:34px;
  min-height:34px;

  font-size:20px;
  -webkit-font-smoothing: antialiased;
  color:#fff;
  text-decoration:none;

  border-radius:40px;
  background:#474d5c;
  cursor:pointer;
  position:relative;
  font-weight:normal;

  overflow:hidden;

  box-shadow: inset rgba(255,255,255,0.15) 0 0 0 2px, rgba(23, 23, 27, 1) 0px 0px 0px 2px;
  transition:all .3s;
}
.orbs-bottom .orb { margin-top:8px; }
.orbs-top .orb { margin-bottom:8px; }

.orb:hover { color:#fff; transform:scale(1.1, 1.1); transition:none; -webkit-transform-style: preserve-3d; }
.orb:active { color:#fff; transform: scale(1, 1); -webkit-transform-style: preserve-3d; }
.orb:before { display:block; width:100%; height:100%; font-weight:normal; text-decoration:none; }
.orb:hover:before { color:#fff; }
.orb.glyph { font-family: "medbridge-chrome-extension"; }

.orb.on { animation: OrbPulse .3s ease infinite; /* width:110px; border-radius:20px; transition:width .125s; */ }
  @keyframes OrbPulse {
    0%   { transform:scale(1.2, 1.2); }
    50%  { transform:scale(1, 1); }
    100% { transform:scale(1.2, 1.2); }
  }
.orb.on:before { animation: orbFlash 1.15s infinite; background:rgba(255,255,255,0); }
  @keyframes orbFlash {
    10% { background: rgba(255,255,255,0); }
    50% { background: rgba(255,255,255,0.25); }
    90% { background: rgba(255,255,255,0); }
  }

.orb.off {
  pointer-events: none;
  opacity:.5;
}
.orb.off:hover {
  cursor:default;
}

.dual-orb {
  height:68px;
  box-shadow:rgba(23, 23, 27, 1) 0px 0px 0px 2px, rgba(23, 23, 27, .75) 0px 0px 0px 4px;
}
.dual-orb .orb {
  margin:0;
  box-shadow: inset rgba(255,255,255,0.15) 0 0 0 2px;
  border:0;
  background:none;
}
.dual-orb .orb:hover {
  transform:none;
}
.dual-orb > .orb:first-child {
  border-radius:40px 40px 0 0;
  /*border-bottom:1px solid rgba(255,255,255,0.25);*/
}
.dual-orb > .orb:last-child {
  border-radius:0 0 40px 40px;
  /*border-top:1px solid rgba(255,255,255,0.25);*/
}

@keyframes orb-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.orb.loading:hover {
  pointer-events: none;
  cursor:default;
}
.orb.loading:before {
  content:"" !important;
  display:block;
  border-radius: 50%;
  margin:auto !important;
  position:absolute; top:0; right:0; bottom:0; left:0;
  width: 24px !important;
  height: 24px !important;
  border: 0.25rem solid rgba(255, 255, 255, 0.35);
  border-top-color: white;
  -webkit-animation: orb-spin .7s infinite linear;
          animation: orb-spin .7s infinite linear;
}

.orb-divider { margin-top:14px; width:100%; height:1px; min-height:1px; max-height:1px; background:rgba(255,255,255,.25); }

/****/
/* Top Orbs */
/****/

.power-orb { order:1; background:#000; font-size:22px; order:1; box-shadow: rgba(255, 255, 255, .4) 0px 0px 0px 2px inset; }
.power-orb:before { content:"\49"; }


.trello-orb {
  order:3;
  background:url("chrome-extension://__MSG_@@extension_id__/img/trello-dog.png") center center no-repeat #0084d1;
  background-size: 55%;
  align-self: flex-end;
}

.share-orb { order:4; background:#77C159; }
.share-orb:before { content:"\76"; margin-left:-1px; }

.mailchimp-orb {
  order:2;
  background:url("chrome-extension://__MSG_@@extension_id__/img/mailchimp.png") center center no-repeat #52bad5;
  background-size: 65%;
  align-self: flex-end;
}

.swap-orb { order:4; background:#f06c2b; }
.swap-orb:before { content:"\4b"; font-size:110%; }


/****/
/* Bottom Orbs */
/****/


.custom-orb { order:12; background:#1b3b84; }
.custom-orb:before { content:"\70"; }

.orb-divider-1 { order:11; }

.plain-text-orb { order:10; background:#90407e;}
.plain-text-orb:before { content:"\75"; font-size:85%; margin-top:1px; }

.orb-divider-2 { order:9; }

.edit-orb { order:8; background:#ce217f; }
.edit-orb:before { content:"\77"; }

.check-links-orb { order:1; background:#7821cf; }
.check-links-orb:before { content:"\41"; }

.blog-orb { order:1; background:#3f21cf; }
.blog-orb:before { font-family:'IcoMoon-Free'; content:"\eab4"; }

.style-orb { order:7; background:#dd8631; }
.style-orb:before { content:"\4a"; font-size:125%; }

.images-orb { order:6; background:#53c586; }
.images-orb:before { content:"\79"; }

.images-dims-orb { order:6; background:#53c586; }
.images-dims-orb:before { content:"\79"; }

.show-dims-orb { order:5; background:#d91d1d; }
.show-dims-orb:before { content:"\74"; margin-top:0px; }

.zoom-check-orb { order:6; background:#99aa15; font-size:18px; }
/*.zoom-check-orb:before { content:"\74"; margin-top:0px; }*/

.guides-orb { order:4; background:#13bfbf; }
.guides-orb:before { content:"\4d"; margin-top:0px; }


.orb-divider-3 { order:3; }


.pane-orb { order:2; background:#5d6372; }
.pane-orb:before { content:"\73"; }

.nav-orb { order:1; }
.nav-orb-up { }
.nav-orb-up:before { content:"\42"; }
.nav-orb-down { }
.nav-orb-down:before { content:"\43"; }


.ab-orb { order:1; background:#00b188; font-size:24px; font-weight:700 !important; font-family:Roboto, Helvetica; }
.ab-orb:before { font-weight:700; }
.ab-orb:before { content:"B"; }
/*.ab-orb:hover:before { content:"B"; }*/
.ab-orb.a:before { content:"A"; }
/*.ab-orb.a:hover:before { content:"A"; }*/














.info-bar {
  max-width: 220px;
  min-width:170px;
  width:100%;
  height:100%;
  color:#444;
  /*background:#26272d;*/
  font-size:14px;
  font-family: Roboto, Helvetica;
  /*padding:12px 20px 20px 20px;*/
  transition:all .35s;
  z-index:1;
}
.info-bar {
  padding:0px 15px 15px 0px;
}

.info-bar.off {
  width:0px;
  max-width:0px;
  min-width:0px;
  padding-left:0; padding-right:0;
  z-index:-10;
  opacity:0;
  transition:all .35s;
}
.info-bar.quick-off {
  display:none;
}

.mod-wrapper {
  margin-bottom:10px;
}

.mod {
  border-radius:4px;
  background:#fff;
  overflow:hidden;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.2);
}
.mod .title {
  background:rgba(0,0,0,0.2);
  font-weight:bold;
  padding:5px 10px;
  font-size:14px;
  position:relative;
}
.mod .mod-body {
  padding:10px 8px 12px 12px;
  line-height:17px;
  font-size:13px;
}


/* *********** */

.mod.mod-link-checker .mod-body {
  padding:0;
  max-height:700px;
  overflow:scroll;
}
.mod-link-checker .link-row {
  display:flex;
  white-space: nowrap;
  /*border-radius:3px;*/
}
.mod-link-checker .link-row:nth-child(even), .mod-link-checker .link-row:nth-child(even) * {
  background:#e5e5e5;
}
.mod-link-checker .link-row > div {
  padding:0px 0px 0px 3px;
  font-size:9px;
  line-height:16px;
}
.mod-link-checker .link-row .link-row-num {
 text-align:center;
 font-weight:bold;
 width:16px;
 min-width:16px;
 font-size:9px;
 line-height:16px;
}

.mod-link-checker .title .toggle:before {
  content:"\4c";
  font-family: "medbridge-chrome-extension";
  font-size:18px;
  display:block;
  height:26px; width:26px; line-height:26px;
  color:#444;
  text-align:center;
  cursor:pointer;
  position:absolute;
  top:0; right:0;
}



/* ***********
   ***********

     RESIZER

   ***********
   *********** */

.dframe-resize-handle:hover {
  opacity: 1;
}

.dframe-resize-handle {
  border-radius:0 3px 3px 0;
  display: block;
  position: absolute;
  width: 10px;
  height: 100%;
  right: -8px;
  top: 0px;
  cursor: col-resize;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  background:#61616d;
}
.dframe-resize-handle:before {
  content: ". . .";
  font-size: 15px;
  font-family: arial, sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  line-height: 0.6;
  white-space: normal;
  text-align: center;
  margin-top: -0.9em;
}

.disc-pt .dframe-resize-handle { background: var(--pt); }
.disc-at .dframe-resize-handle { background: var(--at); }
.disc-ot .dframe-resize-handle { background: var(--ot); }
.disc-slp .dframe-resize-handle { background: var(--slp); }
.disc-other .dframe-resize-handle { background: var(--other); }
.disc-lmt .dframe-resize-handle { background: var(--lmt); }




/* *********** */

.preheader-wrapper.mod-wrapper {
  position:relative;
}

.preheader-match-rating {
    /*display:none;*/
    position:absolute;
    top:-8px;
    right:10px;
    width:40px; height:40px; line-height:40px;
    color:#fff;
    text-align:center;
    border-radius:40px;
    background:#b3b3b3;
    cursor:default;
    font-size:12px;
}

.preheader-match-rating.ready { display:block; background:#35bd75; transition: background 3s; }

.preheader-match-rating.ready.warning { font-size:14px; background: #bd9535; }
.preheader-match-rating.ready.error { font-size:14px; background: rgb(217, 92, 92); }


.preheader-back { display:inline; color:rgba(0,0,0,0.4); }
.preheader-back:before { content:"90"; background:#c2cde2; color:#444; margin:0 4px; }
.preheader-back:after { content:"140"; background:#d7e1f4; color:#a8b2c5; margin:0 0 0 4px; }
.preheader-back:before, .preheader-back:after {
  border-radius:26px;
  display:inline-block;
  padding:0 5px;
  font-weight:bold;
  font-size:12px;
  bottom:1px;
  position:relative;
}

body.split-view-on {
  overflow:hidden;
}




.iframe-wrapper {
  width:100%;
  height:100%;
  display:flex;
  padding-right:10px;
}
.iframe-wrapper iframe {
  border-width:0;
  border-style:solid;
  height:100%;
  background:#fff;
  border-radius:4px;
  overflow: hidden;
}

.desktop-view-wrapper {
  width:100%;
  flex-grow:1;
  position: relative;
  border-radius: 4px;
}
.iframe-desktop-view {
  width:100%;
  position: relative;
  z-index:5;
  transition:border .125s;
  border:solid 0px #bf1d53;
}

.iframe-desktop-view.editing {
  background:#bf1d53;

  border:10px solid #bf1d53;
  transition:border .25s ease-in;

  box-sizing:border-box;

  animation: editingBorderPulse .5s infinite;
}

@keyframes editingBorderPulse {
  10%   { border-color: #bf1d53;}
  50%  { border-color: #ff3a7b;}
  90% { border-color: #bf1d53;}
}

.mobile-view-wrapper {

  box-shadow: inset 0 0 0 2px rgba(255,255,255,.15);

  margin:0 5px 15px 10px;
  padding:20px 20px 20px 20px;

  height: initial;

  border-radius: 4px;

  background: rgba(0,0,0,0.26);

  /*max-width:480px;
  min-width:320px;
  width:320px;*/
  width:auto;
  /*width:100%;*/
  /*margin: auto;*/
  /*max-width:520px;*/
  /*min-width:360px;*/
  /*padding:40px 0;*/
  /*height:100%;*/
  /*border:0;*/
  /*overflow: hidden;*/
  box-sizing: border-box;
  /*background:#26272d;*/
  display:flex;
  /*padding:40px;*/
  /*max-width:540px;
  min-width:540px;*/
  transition:all .35s;
  z-index:1;
}
.mobile-view-wrapper.off {
  /*display:none;*/
  width:0px;
  max-width:0px;
  min-width:0px;
  padding-left:0; padding-right:0;
  margin-left:0; margin-right:0;
  z-index:-10;
  transition:all .35s;
}
.mobile-view-wrapper.quick-off {
  display: none;
}
.mobile-view-wrapper.off .mobile-device-view {
  opacity:0;
  transition:all .35s;
}

.mobile-view-wrapper .iframe-mobile-view {
  width:100%;
  margin: 0 auto;

  /* [BUG] When the mobile iframe doesn't have a doctype, the heights of its containers all freak out. Use auto instead of 100%. */
  /*height:100%;*/
  height:auto;
  min-height:0px;

  box-sizing: border-box;
  border:0;
  background:#fff;
  flex-grow:1;

  /*border-radius:0 0 8px 8px;*/
  border-radius:4px;
}

.extra-mobile-widths-wrapper {
  display:none;
  padding:20px;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;

  background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%);

  z-index:2;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content:flex-end;
}
.extra-mobile-widths-wrapper input {
  background:rgba(50,50,50,.9);
  color:#fff;
  border-radius:6px;
  height:60px;
  line-height:60px;
  padding:10px 4px;
  font-size:36px;
  text-align:center;
  outline:none;
  border:none;
  width:100%;
  letter-spacing: 2px;
}
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(40,40,40);
    font-size:24px;
    letter-spacing:0;
  }

.extra-width {
  width:33%;
  text-align:center;
  color:#fff;
  background:rgba(50,50,50,.9);
  padding:15px 0;
  border-radius:4px;
  margin-top:10px;
  margin-right:10px;
  font-size:32px;
  font-weight:bold;
  user-select: none;
}
.extra-width div + div {
  font-size:12px;
  font-weight:normal;
  margin-top:5px;
}
.extra-width:hover {
  transform: scale(1.05,1.05);
  cursor:pointer;
  background:rgb(35, 94, 244);
}
.extra-width:active {
  transform: scale(1,1);
}


.mobile-device-view {
  /*max-width:480px;*/
  /*width:100%;*/

  background: #17171b;

  width:320px;
  max-width:480px;
  min-width:320px;

  /*min-width:320px;
  max-width:480px;*/

  /* [BUG] Without a doctype, the mobile iframe this wraps stretches in height. auto fixes that instead of 100% */
  /*height:100%;*/
  height:auto;

  display:flex;
  flex-direction:column;
  border-radius:1px;
  box-shadow:0 0px 0px 6px #17171b;
  /*overflow:hidden;*/
  transition:all .35s;
  position:relative;
}


.mobile-iframe-settings {
  display:flex;
  min-width:320px;
  /*max-width:320px;*/
  /*margin-left:auto;
  margin-right:0;*/
  /*border-radius:0 0 10px 10px;*/
  background:#18171d;
  height:60px;
  min-height:60px;
  max-height:60px;
  overflow:hidden;
  padding:6px;
  border-top:6px solid #17171b;
}
.mobile-iframe-settings > div {
  order: 2;
  border-radius:4px;
  width:100%;
  flex-grow:1;
  /*width:70px;
  min-width:70px;
  max-width:70px;*/
  color:#fff;
  height:100%;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-align:center;
  font-size:14px;
  cursor:pointer;
  /*border-right:6px solid #17171b;*/
  margin-right:6px;
  overflow:hidden;
  background:#1d1d23;
  box-shadow: inset 0 0 0 2px rgba(255,255,255,0.1);

  display:flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}
.mobile-iframe-settings > div:last-child { margin:0; }

.mobile-iframe-settings > div:hover {
  background:#323e88;
}
.mobile-iframe-settings > .active:hover {
  cursor:default;
}

.mobile-iframe-settings > .active {
  background:rgb(48, 48, 59);
}
/*.mobile-iframe-settings > .active:hover {
  background:#323e88;
}*/

.mobile-iframe-settings #mobile-custom {
  flex-grow:1;
  order:1;
  width:100%;
  min-width: initial;
  max-width: 100%;
}




/***********

  Iframe Width Status

  **********/

.iframe-width-status {
  opacity:0;
  position: absolute;
  z-index:100;
  bottom:20px; right:37px;
  background:rgba(44, 64, 88, 0.8);
  border-radius:4px;
  color:#fff;
  padding:10px 16px;
  font-size:16px;
  font-weight:normal;
  font-family:Roboto, Helvetica, Arial, sans-serif;
  transition:1s all;
  cursor:default;
}
.show.iframe-width-status {
  opacity:1;
  transition:1s all;
}

/***********

  Preflight

  **********/

.preflight-wrapper {
  background:#565968;
  width:100%;
  min-height:80px; max-height:80px; height:80px;
  box-shadow: 0 4px 0 0px #2b2b33;
  overflow: hidden;
  position: relative;
}
  /*.preflight-wrapper.error { background:#fe184e; }*/
  /*.preflight-wrapper.success { background:#47915e; }*/
  .preflight-wrapper:hover, .preflight-wrapper *:hover { cursor:pointer; }

.preflight-status {
  width: 100%;
  min-height:80px; max-height:80px; height:80px;
  position:absolute;
  top:0; left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  transition: all .25s;
}

/*****************/
/*****************/

/* */
/* Normal/Inactive State */
/* */

/* Show total, Hide rocket */
.preflight-status.preflight-total {
  transform:translate(0%,0%);
  opacity:1;
  font-size:48px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight:900;
}
  .preflight-status.preflight-rocket {
    opacity:0;
    font-size:36px;
    transform:translate(0%,80%);
  }

/* On hover, show rocket and hide total */
.preflight-wrapper:hover .preflight-total {
  transform:translate(0%,-80%);
  opacity:0;
}
.preflight-wrapper:hover .preflight-rocket {
  transform:translate(0%,0%);
  opacity:1;
}

    /* Animations that are always on (in normal state and page load)
    /* These are ALWAYS ON. */

    /* Rocket Pulse */
    /* Animate the rocket to make it pulse. Unrelated to the vertical movement of the container. */
    .preflight-wrapper .preflight-rocket:before {
      animation: preflightPulse .5s ease infinite;
    }
      @keyframes preflightPulse {
        0%   { transform:scale(1, 1); }
        50%   { transform:scale(1.25, 1.25); }
        100%   { transform:scale(1, 1); }
      }

/*****************/
/*****************/

/* */
/* On Page Load State */
/* */

.initial-load .preflight-status.preflight-total {
  transform:translate(0%,-80%);
  opacity:0;
}
.initial-load .preflight-status.preflight-rocket {
  transform:translate(0%,0%);
  opacity: 1
}
.initial-load .preflight-status.preflight-rocket:before {
  animation: preflightPulse .5s ease infinite;
}


/*****************/
/*****************/

/* */
/* After Page Load is Done */
/* */


  .load-finished.preflight-wrapper .preflight-rocket {
    animation: preflightRocketOnPageLoad .25s ease 1;
  }
  @keyframes preflightRocketOnPageLoad {
    0% { opacity:1; transform:translate(0%,0%); }
    100% { opacity:0; transform:translate(0%,80%); }
  }

  .load-finished.preflight-wrapper .preflight-total {
    animation: preflightTotalOnPageLoad .25s ease 1;
  }
  @keyframes preflightTotalOnPageLoad {
    0% { opacity:0; transform:translate(0%,-80%); }
    100% { opacity:1; transform:translate(0%,0%); }
  }

  /* Coloring */
  .load-finished.preflight-wrapper.error {
    animation: preflightErrorColor1 1s ease 1, preflightErrorColor2 6s ease infinite;
    animation-delay: 0s, 1s;
  }
  @keyframes preflightErrorColor1 {
    0%   { background:#565968; }
    100% { background:#fe184e; }
  }
  @keyframes preflightErrorColor2 {
    0%   { background:#fe184e; }
    50%  { background:#ad2a49; }
    100% { background:#fe184e; }
  }

  .load-finished.preflight-wrapper.success {
    animation: preflightSuccessColor1 1s ease 1, preflightSuccessColor2 6s ease infinite;
    animation-delay: 0s, 1s;
  }
  @keyframes preflightSuccessColor1 {
    0%   { background:#565968; }
    100% { background:#47915e; }
  }
  @keyframes preflightSuccessColor2 {
    0%   { background:#47915e; }
    50%  { background:#51ad6e; }
    100% { background:#47915e; }
  }


/***********

  Presentation Mode

  **********/

.presentation-mode .qa-wrapper { padding: 0; }
.presentation-mode .iframe-wrapper { padding: 0; }
.presentation-mode .iframe-mobile-view { box-shadow: 0 0 0 4px #131417; }
.presentation-mode .desktop-view-wrapper { margin:0; }
.presentation-mode .iframe-desktop-view { border-radius:0; }
.presentation-mode .header-bar { display:none; }
.presentation-mode .control-bar { margin:0; border-radius: 0; }
.presentation-mode .mobile-iframe-settings { border-color:transparent;    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    background: transparent; }
.presentation-mode .mobile-device-view { box-shadow: none; background: transparent; }
.presentation-mode .mobile-view-wrapper { margin:0; box-shadow: none; border-radius:0;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right:40px;
    padding-left: 40px; }
.presentation-mode .mobile-view-wrapper.off { padding:0; }

@media screen and (max-device-width: 1440px), screen and (max-width: 1440px) {


  .info-bar {
    max-width: 220px;
    min-width: 170px;
    /*padding:10px 15px 10px 15px;*/
  }


  .desktop-view-wrapper { min-width:660px; }


  /*.mobile-view-wrapper.portrait:not(.off) {
      max-width: 389px;
      min-width: 389px;
  }*/

}



@media screen and (max-device-width: 960px), screen and (max-width: 960px) {

  .desktop-view-wrapper { min-width:335px; }


}
