#surface {
  background: rgba(0,0,0,0.6);
}

/* Attachment Previews */
.attachment-viewer-frame-preview-image {
  width:100%;
}
.attachment-viewer-overlay {
  z-index: -1 !important;
}
.attachment-viewer-overlay *,
.attachment-viewer-prev-frame-btn,
.attachment-viewer-next-frame-btn {
  display: none;
}

/* */
.calendar-table {
  border-spacing:16px !important;
}

.calendar-content .card-label.mod-card-front {
  min-width:12px; max-width:12px;
  min-height:12px; max-height:12px;
  margin-top: 0 !important; margin-bottom:0 !important;
}

.calendar-content .day-cell {
  width:18% !important;
  height:300px !important;
}
.calendar-content .day-cell:last-child, .calendar-content .day-cell:first-child {
  width:5% !important;
  opacity:.33 !important;
}

.calendar-content .list-card {
  margin-bottom:3px !important;
  /*max-height:35px !important;*/
}

.calendar-content .list-card-details {
  padding:2px 6px 0px 8px !important;
}

/* Is Complete */
.calendar-content .is-due-complete {
  opacity:.5;
}
.calendar-month .list-card.is-due-complete .list-card-title {
  font-style: normal !important;
}


.calendar-content .list-card-title {
  font-size:11px;
  margin-bottom:2px;
}

.calendar-content .list-card-labels {
  position: absolute;
  top: 0;
  bottom:0;
  margin: auto !important;
  right: 0;
  height:12px;
}

.calendar-content .day-cell a {
  font-size:12px;
}
/*

.iframe-calendar {
  position:fixed;
  z-index:100;
  bottom:0;
  left:0;
  width:200px;
  height:200px;
}*/

#board .list-wrapper {
  width:180px;
}

#board .js-add-list.list-wrapper {
  display: none;
}


.list-card[data-type="event"] {
  background:#434343;
  background: linear-gradient(to right, #434343 40%,#6c6c6c 100%);
}
.list-card[data-icomoon-parent] {
  margin-left:24px;
}
  /* Webinar */
  .list-card[data-subtype="webinar"] {
    background:#240c2d;
    background: linear-gradient(to right, #4a195c 40%,#611d7a 100%);
  }
    .list-card[data-subtype="webinar"] .list-card-cover {
      color:#611d7a;
    }

.list-card[data-type="event"] .list-card-title {
  color:#fff !important;
}


[data-icomoon] { display:block; }

/* Board Canvas */

.board-canvas .list-card {

}
.board-canvas .list-card .badges {

}


.list-card[data-icomoon-parent] .list-card-cover {
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  letter-spacing: 0;
  font-feature-settings: "liga";

  -webkit-font-smoothing: antialiased;

  /**/
  margin-left: -22px;
  position: absolute;
  top: 4px;
  left: 3px;
  font-size: 13px;
}

.list-card[data-icomoon-parent][data-subtype="webinar"] .list-card-cover:before {
  content:"\e95b"
}
