#surface {
  background: rgba(0,0,0,0.6);
}

/* Attachment Previews */
.attachment-viewer-frame-preview-image {
  width:100%;
}
.attachment-viewer-overlay {
  z-index: -1 !important;
}
.attachment-viewer-overlay *,
.attachment-viewer-prev-frame-btn,
.attachment-viewer-next-frame-btn {
  display: none;
}

/* */
.calendar-content .card-label.mod-card-front {
  height:4px !important;
}

.calendar-content .day-cell {
  width:16.8% !important;
  height:200px !important;
}
.calendar-content .day-cell:last-child, .calendar-content .day-cell:first-child {
  width:8% !important;
  opacity:.33 !important;
}

.calendar-content .list-card {
  margin-bottom:3px !important;
  /*max-height:35px !important;*/
}

.calendar-content .list-card-details {
  padding:4px 6px 0px 8px !important;
}

.calendar-content .list-card-labels {
  margin-bottom:0 !important;
}

.calendar-content .day-cell a {
  font-size:12px;
}
/*

.iframe-calendar {
  position:fixed;
  z-index:100;
  bottom:0;
  left:0;
  width:200px;
  height:200px;
}*/

#board .list-wrapper {
  width:180px;
}

#board .js-add-list.list-wrapper {
  display: none;
}
