#gform_fields > li {
    margin-bottom:0 !important;
    padding-bottom:0 !important;
}

#gform_fields h2.gsection_title {
  margin-top: 12px !important;
  padding-bottom: 5px !important;
  margin-bottom: 0px !important;
}

#gform_fields .gsection_description {
  padding-bottom:0 !important;
}

.pad_top #gform_fields {
  transform: scale(.8,.8);
  transform-origin: top left;
  width:800px !important;
  min-width:800px !important;
}
