.gmail-wrapper {
  height:80px;
  min-height:80px;
  max-height:80px;
  background: #fff;
  padding: 0 20px 0 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
}

.gmail-row {
  width: 100%;
  overflow: hidden;
}



.column.split-right .wizard-header {
  height:80px;
  min-height: 80px;
  border-left: 1px solid #d9d9d9;
  max-height: 80px;
}


#previewCol {

}

.colbody {
  top:80px !important;
}
#previewcol .colbody {
  height: calc(100% - 80px);
  top:80px !important;
}

.initial-load .preview-container {
  display: none !important;
}


.from-name-wrapper, .subject-line-wrapper, .preheader-wrapper {
  line-height: 1;
  box-sizing: content-box;
}
.from-name-wrapper {
  height:14px;
  padding:2px 0 2px 0;
}
.subject-line-wrapper {
  height:18px;
  padding: 5px 0 2px 0;
}
.preheader-wrapper {
  height:13px;
  padding:1px 0 0 0;
}

.from-name, .subject-line, .preheader {
  font-size:12.8px;
  font-weight:bold;
  font-family: Arial, sans-serif;
  color:#222;
  white-space: nowrap;
  line-height: 1;
  height:15px;
  box-sizing: content-box;
}

.preheader {
  color:#777 !important;
  font-weight: normal;
}
