/***********/
/***********/
/*
  General Styles
*/
/***********/
/***********/

* {
  user-select: initial !important;
  /*cursor:auto !important;*/
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/***********/
/***********/
/*
 Footer
*/
/***********/
/***********/

#main-content > #content + div:last-child > .hide-print {
  display: none !important;
}


/***********/
/***********/
/*
  Member/Contact View
*/
/***********/
/***********/

/* DEPRECATED BECAUSE MC UPDATED THEIR LAYOUT */

/* .page-lists-members-view #list-content > div:first-child .full-width-mobile > div > div:last-child,
.page-lists-members-view #list-content > div:first-child {
  margin-bottom:0 !important;
} */

/* .page-lists-members-view #view-profile > .size1of2 {
  width:25%;
}
.page-lists-members-view #view-profile > .size1of2 li {
  padding:0px 0 10px;
} */

/* Edit Profile */
/* .page-lists-members-view #edit-profile {
  display: flex;
  flex-wrap: wrap;
}
.page-lists-members-view #edit-profile > div {
  width: 50%
} */

/***********/
/***********/
/*
  Header
*/
/***********/
/***********/

.header { margin:22px 0 !important; }

/***********/
/***********/
/*
  Buttons
*/
/***********/
/***********/

.mc-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius:4px;
  background:#fff;
  border:1px solid #ccc;
  text-align:center;
}

.mc-btn.mc-btn-medium {
  font-size:16px;
  width:33px; height:33px; line-height:33px;
}

.download-report { color:#237a91 !important; margin-right:6px; position: relative; vertical-align: middle; }
.download-report:before { color:#237a91 !important; }

.download-report:hover { background:#237a91; color:#fff !important; border-color:#237a91; }
.download-report:hover:before { color:#fff !important; }

.download-report:active { background:hsl(193, 61%, 25%); }

/***********/
/***********/
/*
  Campaign List Rows
*/
/***********/
/***********/
/*.campaign-list-row {
  display: flex;
}
.campaign-list-row .meta-actions.campaign.lastGroup {
  display: flex;
  align-items:center;
  justify-content: flex-end;
}*/

.campaign-list-row .c-campaignManager_slat_stat_secondary,
.campaign-list-row .c-campaignManager_slat_stat_primary {
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.campaign-list-row .c-campaignManager_slat_stat_secondary p:first-child,
.campaign-list-row .c-campaignManager_slat_stat_primary p:first-child {
  font-size:12px;
  line-height:16px;
}
.campaign-list-row .c-campaignManager_slat_stat_secondary p:nth-child(2),
.campaign-list-row .c-campaignManager_slat_stat_primary p:nth-child(2) {
  font-size:10px;
  line-height:14px;
}


/***********/
/***********/
/*
  Main nav
  Height adjustment
*/
/***********/
/***********/
/* .main-navigation { height:44px !important; }
.main-navigation li { line-height:44px !important; }
.main-navigation li a { padding:0 9px !important; } */

/***********/
/***********/
/*
  Campaign Wizard
   - Recipients
*/
/***********/
/***********/

.page-campaigns-wizard-recipients.c-builder h2 + div .dijitReset.dijitStretch.dijitButtonContents { padding:15px 36px 15px 18px !important; }
.page-campaigns-wizard-recipients.c-builder h2 + div .dijitReset.dijitStretch.dijitButtonContents > .dijitReset.dijitInputField.dijitButtonText { font-size:24px; }

.c-builder .radio-grid input[type="radio"]:checked+label { background: #6dc5dc; }

/***********/
/***********/
/*
  Campaign Builder Wizard
*/
/***********/
/***********/

.wizard-title {
  left: 108px !important;
  font-size:16px;
}

/* */
/* Confirm Page */
/* */
.predelivery-checklist #segment { display:block !important; } /* Segment info is collapsed on page load, force it to stay open. */

/* */
/* Header */
/* */
body.discipline-ready:not(.discipline-undefined) .c-wizardNavigation.selfclear,
body.discipline-ready:not(.discipline-undefined) .c-wizardNavigation.selfclear li.hover-item > a,
body.discipline-ready:not(.discipline-undefined) .nav-link a,
body.discipline-ready:not(.discipline-undefined) .line.selfclear,
body.discipline-ready:not(.discipline-undefined) .line.selfclear li.hover-item > a {
  color:#fff !important;
}

  .c-builder .c-wizardNavigation.selfclear, .c-builder .line.selfclear { transition: all 0.29s ease-in-out 0s; }

  /* PT */
  .discipline-pt .main-navigation .c-wizardNavigation.selfclear,
  .discipline-pt .main-navigation .line.selfclear
   { background: var(--pt-dark); }
  .discipline-pt .main-navigation .c-wizardNavigation.selfclear,
  /*.discipline-pt .main-navigation .line.selfclear,*/
  .discipline-pt .main-navigation #freddielink,
  .discipline-pt .main-navigation .wizard-freddie {
    box-shadow: inset 0 4px 0px var(--pt);
  }
  .discipline-pt .main-navigation .wizard-freddie, .discipline-pt .c-wizardLink--top:hover,
  .discipline-pt .main-navigation #freddielink,
  .discipline-pt .main-navigation .stayopen .c-wizardLink--top,
  .discipline-pt .main-navigation .gray-link:hover,
  .discipline-pt .main-navigation .c-wizardLink--step:hover,
  .discipline-pt .c-wizardLink--step:hover,
  .discipline-pt .p1,
  .discipline-pt .c-deliveryOptions .p0,
  .discipline-pt .wizard-menu > a:first-child
  {
    background: var(--pt) !important;
  }
  .discipline-pt .main-navigation .selected::after { border-bottom-color: var(--pt); }

  /*******/
  /* AT */
  .discipline-at .main-navigation .c-wizardNavigation.selfclear,
  .discipline-at .main-navigation .line.selfclear
   { background: var(--at-dark); }
  .discipline-at .main-navigation .c-wizardNavigation.selfclear,
  /*.discipline-at .main-navigation .line.selfclear,*/
  .discipline-at .main-navigation #freddielink,
  .discipline-at .main-navigation .wizard-freddie {
    box-shadow: inset 0 4px 0px var(--at);
  }
  .discipline-at .main-navigation .wizard-freddie, .discipline-at .c-wizardLink--top:hover,
  .discipline-at .main-navigation #freddielink,
  .discipline-at .main-navigation .stayopen .c-wizardLink--top,
  .discipline-at .main-navigation .gray-link:hover,
  .discipline-at .main-navigation .c-wizardLink--step:hover,
  .discipline-at .c-wizardLink--step:hover,
  .discipline-at .p1,
  .discipline-at .c-deliveryOptions .p0,
  .discipline-at .wizard-menu > a:first-child
  {
    background: var(--at) !important;
  }
  .discipline-at .main-navigation .selected::after { border-bottom-color: var(--at); }

  /*******/
  /* OT */
  .discipline-ot .main-navigation .c-wizardNavigation.selfclear,
  .discipline-ot .main-navigation .line.selfclear
   { background: var(--ot-dark); }
  .discipline-ot .main-navigation .c-wizardNavigation.selfclear,
  /*.discipline-ot .main-navigation .line.selfclear,*/
  .discipline-ot .main-navigation #freddielink,
  .discipline-ot .main-navigation .wizard-freddie {
    box-shadow: inset 0 4px 0px var(--ot);
  }
  .discipline-ot .main-navigation .wizard-freddie, .discipline-ot .c-wizardLink--top:hover,
  .discipline-ot .main-navigation #freddielink,
  .discipline-ot .main-navigation .stayopen .c-wizardLink--top,
  .discipline-ot .main-navigation .gray-link:hover,
  .discipline-ot .main-navigation .c-wizardLink--step:hover,
  .discipline-ot .c-wizardLink--step:hover,
  .discipline-ot .p1,
  .discipline-ot .c-deliveryOptions .p0,
  .discipline-ot .wizard-menu > a:first-child
  {
    background: var(--ot) !important;
  }
  .discipline-ot .main-navigation .selected::after { border-bottom-color: var(--ot); }

  /********/
  /* SLP */
  .discipline-slp .main-navigation .c-wizardNavigation.selfclear,
  .discipline-slp .main-navigation .line.selfclear
   { background: var(--slp-dark); }
  .discipline-slp .main-navigation .c-wizardNavigation.selfclear,
  /*.discipline-slp .main-navigation .line.selfclear,*/
  .discipline-slp .main-navigation #freddielink,
  .discipline-slp .main-navigation .wizard-freddie {
    box-shadow: inset 0 4px 0px var(--slp);
  }
  .discipline-slp .main-navigation .wizard-freddie, .discipline-slp .c-wizardLink--top:hover,
  .discipline-slp .main-navigation #freddielink,
  .discipline-slp .main-navigation .stayopen .c-wizardLink--top,
  .discipline-slp .main-navigation .gray-link:hover,
  .discipline-slp .main-navigation .c-wizardLink--step:hover,
  .discipline-slp .c-wizardLink--step:hover,
  .discipline-slp .p1,
  .discipline-slp .c-deliveryOptions .p0,
  .discipline-slp .wizard-menu > a:first-child
  {
    background: var(--slp) !important;
  }
  .discipline-slp .main-navigation .selected::after { border-bottom-color: var(--slp); }

  /********/
  /* Other */
  .discipline-other .main-navigation .c-wizardNavigation.selfclear,
  .discipline-other .main-navigation .line.selfclear
   { background: var(--other-dark); }
  .discipline-other .main-navigation .c-wizardNavigation.selfclear,
  /*.discipline-other .main-navigation .line.selfclear,*/
  .discipline-other .main-navigation #freddielink,
  .discipline-other .main-navigation .wizard-freddie {
    box-shadow: inset 0 4px 0px var(--other);
  }
  .discipline-other .main-navigation .wizard-freddie, .discipline-other .c-wizardLink--top:hover,
  .discipline-other .main-navigation #freddielink,
  .discipline-other .main-navigation .stayopen .c-wizardLink--top,
  .discipline-other .main-navigation .gray-link:hover,
  .discipline-other .main-navigation .c-wizardLink--step:hover,
  .discipline-other .c-wizardLink--step:hover,
  .discipline-other .p1,
  .discipline-other .c-deliveryOptions .p0,
  .discipline-other .wizard-menu > a:first-child
  {
    background: var(--other) !important;
  }
  .discipline-other .main-navigation .selected::after { border-bottom-color: var(--other); }

  /********/
  /* Massage */
  .discipline-lmt .main-navigation .c-wizardNavigation.selfclear,
  .discipline-lmt .main-navigation .line.selfclear
   { background: var(--lmt-dark); }
  .discipline-lmt .main-navigation .c-wizardNavigation.selfclear,
  /*.discipline-lmt .main-navigation .line.selfclear,*/
  .discipline-lmt .main-navigation #freddielink,
  .discipline-lmt .main-navigation .wizard-freddie {
    box-shadow: inset 0 4px 0px var(--lmt);
  }
  .discipline-lmt .main-navigation .wizard-freddie, .discipline-lmt .c-wizardLink--top:hover,
  .discipline-lmt .main-navigation #freddielink,
  .discipline-lmt .main-navigation .stayopen .c-wizardLink--top,
  .discipline-lmt .main-navigation .gray-link:hover,
  .discipline-lmt .main-navigation .c-wizardLink--step:hover,
  .discipline-lmt .c-wizardLink--step:hover,
  .discipline-lmt .p1,
  .discipline-lmt .c-deliveryOptions .p0,
  .discipline-lmt .wizard-menu > a:first-child
  {
    background: var(--lmt) !important;
  }
  .discipline-lmt .main-navigation .selected::after { border-bottom-color: var(--lmt); }

/* Enterprise */
.discipline-ent .main-navigation .c-wizardNavigation.selfclear,
.discipline-ent .main-navigation .line.selfclear
 { background: var(--enterprise-dark); }
.discipline-ent .main-navigation .c-wizardNavigation.selfclear,
.discipline-ent .main-navigation .line.selfclear,
.discipline-ent .main-navigation #freddielink,
.discipline-ent .main-navigation .wizard-freddie {
  box-shadow: inset 0 4px 0px var(--enterprise);
}
.discipline-ent .main-navigation .wizard-freddie, .discipline-ent .c-wizardLink--top:hover,
.discipline-ent .main-navigation #freddielink,
.discipline-ent .main-navigation .stayopen .c-wizardLink--top,
.discipline-ent .main-navigation .gray-link:hover,
.discipline-ent .main-navigation .c-wizardLink--step:hover,
.disciplineent .c-wizardLink--step:hover,
.discipline-ent .p1,
.discipline-ent .c-deliveryOptions .p0,
.discipline-ent .wizard-menu > a:first-child
{
  background: var(--enterprise) !important;
}
.discipline-ent .main-navigation .selected::after { border-bottom-color: var(--enterprise); }


/************/
/************/
/************/
/*   OFF!   */
/************/
/************/
/************/

/* SETUP PAGE */
.page-campaigns-wizard-setup h2:first-child,
.page-campaigns-wizard-setup label[for="personalize-to"] + .checkbox-description > p,
.page-campaigns-wizard-setup label[for="track-conversations"] + .checkbox-description > p,
.page-campaigns-wizard-setup div > h3 + p:last-child,
.page-campaigns-wizard-setup #skip-domain-verification + div > div > h3 + p:last-child,
/* Preview Text */ .page-campaigns-wizard-setup div[data-mc-el="previewTextContainer"],
/* Preview Text */ .page-campaigns-wizard-setup label[for="preview_text"],
/* Tracking Descriptions */ .page-campaigns-wizard-setup .field-wrapper label + .checkbox-description
{
  display: none;
}
.page-campaigns-wizard-variatesetup h2:first-child,
.page-campaigns-wizard-variatesetup label[for="personalize-to"] + .checkbox-description > p,
.page-campaigns-wizard-variatesetup label[for="track-conversations"] + .checkbox-description > p,
.page-campaigns-wizard-variatesetup div > h3 + p:last-child,
.page-campaigns-wizard-variatesetup #skip-domain-verification + div > div > h3 + p:last-child
{
  display: none;
}





/************/
/************/
/************/



.c-builder label[for="title"] + input + div.field-help.always-show { margin-bottom:0; }
.c-builder #google-tag-disclose { margin-bottom:10px; }

.c-builder label + .field-wrapper > input#to-email.av-text:only-child { margin-bottom: 0; }

.c-builder .border-below {
    padding-bottom: 13px;
    margin-bottom: 14px;
}

.c-builder #google-tag-disclose .mirror {
  color: var(--lmt);
  font-weight:bold;
  font-size:14px;
  margin-top:6px;
  line-height:28px;
  vertical-align:middle;
  height:28px;
  display:inline-block;
}
.c-builder #google-tag-disclose .mirror:hover {
  cursor:pointer;
  color: var(--lmt-dark);
}
.c-builder #google-tag-disclose .mirror:before {
  content:"\72";
  margin-right:3px;
  font-size:16px;
  font-weight:bold;
  display:block;
  float:left;
  text-align:center;
  width:28px; height:28px; line-height:28px;
  font-family:"medbridge-chrome-extension";
}
.c-builder #google-tag-disclose .mirror.off {
  color:#ccc;
}
.c-builder #analytics-tag:not(.off) { color: var(--lmt); border-color: var(--lmt); }

.c-builder #analytics-tag { margin-bottom:0; }
.c-builder #title + .field-help { margin-bottom:0; }

/***********/
/***********/
/*
  Campaign Reports
*/
/***********/
/***********/

.discipline-ready li.branding + li.hide-mobile { position: relative; }
.discipline-ready li.branding + li.hide-mobile:before {
  content:"";
  font-family:Roboto;
  color:#fff;
  line-height:30px;
  text-align: center;
  font-size:26px;
  display:block;
  width:30px; height:30px;
  background:transparent;
  position:absolute; left:16px; top:0px; bottom:0; margin:auto;
  border-radius:100%;
}
.discipline-pt li.branding + li.hide-mobile:before { content:"P"; background:var(--pt); }
.discipline-at li.branding + li.hide-mobile:before { content:"A"; background:var(--at); }
.discipline-ot li.branding + li.hide-mobile:before { content:"O"; background:var(--ot); }
.discipline-slp li.branding + li.hide-mobile:before { content:"S"; background:var(--slp); }
.discipline-other li.branding + li.hide-mobile:before { content:"*"; background:var(--other); }
.discipline-lmt li.branding + li.hide-mobile:before { content:"M"; background:var(--lmt); }

.discipline-ready li.branding + li.hide-mobile a {
  margin-left:50px;
}

/***********/
/***********/
/*
  Campaigns Page
*/
/***********/
/***********/

.campaigns-list #content > .header {
  margin: 10px 0 10px !important;
}

#campaigns-list .c-campaignManager_slat_details_listName {
  font-size:10px;
  line-height:14px;
  opacity:.5;
}

#campaigns-list .c-campaignManager_slat_actions {
  transform: scale(.8,.8);
  transform-origin: 100% 50%;
}

/*#campaigns-list .c-campaignManager_slat:nth-child(odd) {
  background: rgb(250, 250, 250);
}*/
#campaigns-list .c-campaignManager_slat {
  border-bottom:0;
  border-top: 1px solid rgb(230,230,230);
  padding: 6px 0 6px 0;
  align-items: center;
}
/* #campaigns-list .status-draft + .c-campaignManager_slat {
  border:0;
} */

/* #campaigns-list .c-campaignManager_slat.status-draft {
  padding-top:15px;
  padding-bottom:15px;
  border: 0;
  box-shadow: inset 0 0 0 5px #fff, inset 0 0 0 6px rgb(210,210,210);
  background: rgb(245,245,245);
} */

/* Hidden */
.c-campaignManager_slat_details p:last-child { display: none; }
.status-scheduled .c-campaignManager_slat_details p:last-child { display: block; }

/* Spacing */
/* .campaigns-list .c-campaignManager_actionBar { padding-top:15px; padding-bottom:45px; } */
/* .campaigns-list .mc-content { max-width: 1440px; } */

/* Sidebar */
/* .c-campaignManager_sidebar { width:245px !important; } */

/* Search Bar Position */
/* .c-campaignManager_actionBar { margin-top: 0 !important; top:auto !important; width:initial !important; }
.c-campaignManager_actionBar--fixed { position: relative !important; }
.c-campaignManager_actionBar--fixed+.c-campaignManager_listWrapper { padding-top: 0 !important; }
.c-campaignManager_searchBox, .c-campaignManager_searchCount { padding-left:0 !important; } */

/* Campaigns List */
/* .c-campaignManager_sidebar--fixed + .c-campaignManager_listOuter { margin-left:245px !important; } */

/* .c-campaignManager_listOuter { top:-60px !important; width: calc(100% - 245px) !important; padding-left: 30px !important; } */

/*#campaigns-list .status-draft {
  border: 1px solid #ccc;
  padding-top:15px;
  padding-bottom:15px;

}
#campaigns-list .status-draft, #campaigns-list .status-draft + li {
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.05);
}
#campaigns-list *:not(.status-draft) + .status-draft, #campaigns-list .status-draft:first-child {
  box-shadow: none;
}
#campaigns-list .status-draft + .status-draft {
  border-top:0;
}*/


li .c-campaignManager_slat_actions>.dijitComboButton { opacity: 0.25; }
li[data-status="draft"] .c-campaignManager_slat_actions>.dijitComboButton { opacity: 1 !important; }

.current-status-is-draft span { background: rgb(208, 21, 43); color:#fff; }

#campaigns-list .status-draft .current-status-is-draft {
  overflow: visible;
}
#campaigns-list .status-draft .current-status-is-draft span {
  animation: pulseDraft 1s infinite linear;
}
@keyframes pulseDraft {
  0% {
    box-shadow: 0 0 0 0px rgba(208, 21, 43, .75), 0 0 0 4px rgba(208, 21, 43, .375);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(208, 21, 43, .375), 0 0 0 8px rgba(208, 21, 43, 0);
  }
  51% {
    box-shadow: 0 0 0 4px rgba(208, 21, 43, .375), 0 0 0 0px rgba(208, 21, 43, .75);
  }
  100% {
    box-shadow: 0 0 0 8px rgba(208, 21, 43, 0), 0 0 0 4px rgba(208, 21, 43, .375);
  }
}

.c-campaignManager_slat_status {
  flex: 0 0 90px !important;
}
.c-campaignManager_slat_stats {
  flex: 0 0 200px !important;
}
.c-campaignManager_slat_stat > div {
  padding-right:18px !important;
}

/* Create Campaign */
/*.add-btn { display: none !important; float: none !important; }*/


/* Select Campaign Row Input */
.c-campaignManager_slat_checkbox {
  position: static !important;
  opacity: 1 !important;
  display: flex;
  align-items: center;
  padding-right:18px !important;
}

.beaker {
  fill: rgb(230,230,230);
}
[data-type="A/B"] .beaker {
  fill: rgb(120,120,120);
}
[data-type="A/B"]:hover .beaker {
  animation: wacky 5s infinite linear;
}
@keyframes wacky {
  0%  { fill: rgb(246, 5, 237)  }
  20%  { fill: rgb(5, 246, 138)  }
  40%  { fill: rgb(168, 43, 255)  }
  60%  { fill: rgb(246, 215, 5)  }
  80%  { fill: rgb(5, 246, 87)  }
  100% { fill: rgb(246, 5, 237)  }
}
/*[data-type="A/B"]:hover .beaker-2 {
  animation: wacky2 1s infinite linear;
}
@keyframes wacky2 {
  0%  { fill: rgb(40, 125, 252)  }
  20%  {  fill: rgb(5, 246, 87) }
  40%  { fill: rgb(246, 215, 5)  }
  60%  { fill: rgb(168, 43, 255)  }
  80%  { fill: rgb(5, 246, 138)  }
  100% { fill: rgb(246, 5, 237)  }
}
[data-type="A/B"]:hover .beaker-3 {
  animation: wacky3 1s infinite linear;
}
@keyframes wacky3 {
  0%  {  fill: rgb(5, 246, 138) }
  20%  {  fill: rgb(246, 5, 237)  }
  40%  { fill: rgb(40, 125, 252)  }
  60%  { fill: rgb(5, 246, 87)  }
  80%  { fill: rgb(246, 215, 5)  }
  100% { fill: rgb(168, 43, 255) }
}*/


/*

#campaigns-list > .draft {
  padding-top:10px !important;
  padding-bottom:10px !important;
  background:rgba(220,20,60, 0.6) !important;
  color:#fff;
  border-bottom:1px solid #a21c37;
}

#campaigns-list > .urgent {
  padding-top:20px !important;
  padding-bottom:20px !important;
  background:#dc143c !important;
  color:#fff;
  border-bottom:1px solid #a21c37;
}

#campaigns-list > .draft a, #campaigns-list > .draft button, #campaigns-list > .draft .button, #campaigns-list > .draft .dijitArrowButtonInner,
#campaigns-list > .draft .freddicon.edit-circle-large::after {
  color:#fff !important;
}

#campaigns-list > .draft .dijitComboButton .dijitDownArrowButton {
  border-left: 1px solid crimson;
}

#campaigns-list > .draft .dijitComboButton, #campaigns-list > .draft .dojoxCheckedMultiSelectButton {
  background:#a21c37 !important;
}

.nav-link.total-drafts {
  height:60px;
}
.nav-link.total-drafts > div {
  display: block;
  line-height: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.nav-link.total-drafts > div > div {
  height:auto;
  align-self: center;
}
.nav-link.total-drafts .total-drafts-number {
  font-size:28px;
  font-weight:bold;
  padding-right:6px;
}
.nav-link.drafts-exist {
  background:#da2756;
}
.nav-link.drafts-exist:hover, .nav-link.drafts-exist:hover > div {
  background:#c01944 !important;
  cursor:default;
}
.nav-link.drafts-exist > div {
  color:#fff;
}*/


/* A/B Testing */
/*#campaigns-list li .status > p > span:first-child:before {
  content:"\71";
  width:24px; height:24px; line-height:24px;
  text-align:center;
  border-radius:4px;
  background:#4f535f;
  color:#fff;
  display:block;
  position:absolute;
  top:0; bottom:0; margin:auto;
  left:60px;
  font-size:16px;

  font-family: "medbridge-chrome-extension";
  font-style: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
#campaigns-list li .status > p > span:first-child[aria-label*="regular"]:before {
  content:"R";
  font-family:Roboto;
  font-weight:900;
  font-size:15px;
  color:#6f7481;
  box-shadow:inset 0 0 0 3px #6f7481, 0 0 0 0px #6f7481;
  background:#fff;
}*/

/* Loading Spinner */
/*.campaigns-list  .dijitCheckBox:after {
  pointer-events: none;
  display:block;
  z-index:1000;
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  margin:auto;
  content:"";
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}
.campaigns-list li[class*="discipline-"]  .dijitCheckBox:after,
.campaigns-list li  .dijitCheckBox.selectCheckBoxChecked:after {
  display:none;
  opacity:0;
}

.campaigns-list li[class*="discipline"] .dijitCheckBox,
.campaigns-list li[class*="discipline"] .dijitCheckBox:before,
.campaigns-list li[class*="discipline"] .dijitCheckBox input {
  border-radius:100%;
}

.campaigns-list  .dijitCheckBox {
  background: #B0B0B0;
  width: 36px;
  max-width:36px;
  height: 36px;
  max-height:36px;
  margin: auto !important;
  top: 0;
  bottom: 0;
  position: absolute !important;
}
.campaigns-list  .dijitCheckBox:before {
  content:"";
  width:36px; height:36px; line-height:36px;
  text-align:center;
  color:#fff;
  font-size:16px;
  font-weight:bold;
  display:block;
  position:absolute; top:0; left:0;
}

.campaigns-list li.discipline-pt .dijitCheckBox:before         { content:"P"; }
.campaigns-list li.discipline-at .dijitCheckBox:before         { content:"A"; }
.campaigns-list li.discipline-ot  .dijitCheckBox:before        { content:"O"; }
.campaigns-list li.discipline-slp  .dijitCheckBox:before       { content:"S"; }
.campaigns-list li.discipline-other   .dijitCheckBox:before    { content: "\70"; font-family:"medbridge-chrome-extension" !important; }
.campaigns-list li.discipline-lmt   .dijitCheckBox:before      { content:"M"; }
.campaigns-list li.discipline-dr   .dijitCheckBox:before       { content:"D"; }
.campaigns-list li.discipline-undefined  .dijitCheckBox:before { content:"?"; }

.campaigns-list li .selectCheckBoxHover:before,
.campaigns-list li .dijitCheckBox.selectCheckBoxChecked:before {
  font-family: "medbridge-chrome-extension" !important;
  content:"\6c" !important;
  font-size:20px;
  background:#fff !important;
  box-shadow: inset 0 0 0 3px;
}

.campaigns-list                   .dijitCheckBox, .campaigns-list                   .dijitCheckBox:before { color: #B0B0B0; }
.campaigns-list .discipline-pt    .dijitCheckBox, .campaigns-list .discipline-pt    .dijitCheckBox:before { color: var(--pt); }
.campaigns-list .discipline-at    .dijitCheckBox, .campaigns-list .discipline-at    .dijitCheckBox:before { color: var(--at); }
.campaigns-list .discipline-ot    .dijitCheckBox, .campaigns-list .discipline-ot    .dijitCheckBox:before { color: var(--ot); }
.campaigns-list .discipline-slp   .dijitCheckBox, .campaigns-list .discipline-slp   .dijitCheckBox:before { color: var(--slp); }
.campaigns-list .discipline-other .dijitCheckBox, .campaigns-list .discipline-other .dijitCheckBox:before { color: var(--other); }
.campaigns-list .discipline-lmt   .dijitCheckBox, .campaigns-list .discipline-lmt   .dijitCheckBox:before { color: var(--lmt); }

.campaigns-list li[class*="discipline"] .dijitCheckBox:not(.selectCheckBoxHover):not(.selectCheckBoxChecked):before { color:#fff; }*/



/*.campaigns-list li.discipline-pt .selectCheckBoxHover:before, .campaigns-list li.discipline-pt .selectCheckBoxChecked:before { color: var(--pt); }
.campaigns-list li.discipline-at .selectCheckBoxHover:before, .campaigns-list li.discipline-at .selectCheckBoxChecked:before { color: var(--at); }
.campaigns-list li.discipline-ot .selectCheckBoxHover:before, .campaigns-list li.discipline-ot .selectCheckBoxChecked:before { color: var(--ot); }
.campaigns-list li.discipline-slp .selectCheckBoxHover:before, .campaigns-list li.discipline-slp .selectCheckBoxChecked:before { color: var(--slp); }
.campaigns-list li.discipline-other .selectCheckBoxHover:before, .campaigns-list li.discipline-other .selectCheckBoxChecked:before { color: var(--other); }*/



/*.campaigns-list li.discipline-pt  .dijitCheckBox        { background:var(--pt); }
.campaigns-list li.discipline-at   .dijitCheckBox       { background:var(--at); }
.campaigns-list li.discipline-ot    .dijitCheckBox      { background:var(--ot); }
.campaigns-list li.discipline-slp    .dijitCheckBox     { background:var(--slp); }
.campaigns-list li.discipline-other   .dijitCheckBox    { background:var(--other); }
.campaigns-list li.discipline-lmt   .dijitCheckBox      { background:var(--lmt); }
.campaigns-list li.discipline-undefined  .dijitCheckBox { background:#B0B0B0; }

.campaigns-list li  .dijitCheckBox input {
  width:36px; height:36px;
}
.campaigns-list #campaigns-list .freddicon {
  margin:7px 0 auto 77px;
}*/

/* Buttons */
/*.clean-fields.chr-btn {
  display:inline-block;
  padding:3px 8px;
  background:#5b5d6c;
  font-weight:bold;
  font-size:12px;
  margin-left:10px;
}
.chr-btn {
  text-align:center;
  cursor:pointer;
  border-radius:5px;
  color:#fff;
}*/


/*li[class*="discipline-"] > div:first-child {
  border-left-width:5px;
  border-left-style:solid;
  padding-left:20px;
}

.discipline-pt > div:first-child        { border-left-color:#e3c902; }
.discipline-at  > div:first-child       { border-left-color:#ff620d; }
.discipline-ot   > div:first-child      { border-left-color:#bf002d; }
.discipline-slp   > div:first-child     { border-left-color:#00c2e0; }
.discipline-other  > div:first-child    { border-left-color:#bd00bf; }
.discipline-massage  > div:first-child  { border-left-color:#1aa37a; }
.discipline-undefined > div:first-child { border-left-color:#c2c2c2; }*/



/*.campaigns-list .slats>ul>li { padding:7px 15px !important; }
.campaigns-list #campaigns-list .status p { font-size:11px; line-height:15px; }
.campaigns-list #campaigns-list .data h4 { font-size:15px; }
.campaigns-list #campaigns-list .data p  { font-size:12px; }

.campaigns-list #campaigns-list li.selfclear.relative:nth-child(odd) {
    background: rgb(250,250,250);
}*/


/*
 *
 *
 */


.jk-btn.jk-export-extra-data {
  margin-right:10px !important;
  box-shadow:inset 0 0 0 2px #1e78d7;
}


/*
 *
 *
 */

.page-lists-members #main-content { max-width:100% !important; }
.page-lists-members #content .header { margin:20px 0 !important; }

/*
 *
 *
 */

.edit-plaintext-dialog .dijitDialogPaneContent {
  max-height:100%;
}
.edit-plaintext-dialog .dijitDialogPaneContent textarea {
  min-height:80vh;
  max-height:80vh;
  font-size:12px;
}
.edit-plaintext-dialog.dijitDialogShow {
  width:960px !important;
}


/*++++++++++++++++++++++++*
 *                        *
 *                        *
 *   SEND TEST MODAL      *
 *                        *
 *                        *
 *++++++++++++++++++++++++*/

 #send-test-modal {

   left:0 !important;
   right:0 !important;
   top:0 !important;
   bottom:0 !important;

   margin:auto !important;

   height:100% !important;
   width:100% !important;

   max-width:calc(100% - 100px) !important;
   max-height:calc(100% - 100px) !important;
 }

 #send-test-modal label {
   max-width:initial !important;
 }

 #send-test-modal .dijitDialogPaneContentArea,
 #send-test-modal .dijitDialogPaneContent {
   max-height:initial !important;
 }

 #send-test-modal #sendtest-users li { width:20% !important; }

/*++++++++++++++++++++++++*
 *                        *
 *                        *
 *   DISCIPLINE FILTERS   *
 *                        *
 *                        *
 *++++++++++++++++++++++++*/

body.campaigns-list #content .line.\!margin-bottom--lv3.action-bar {
  margin-bottom: 10px !important;
}

#filter-bar {
 display: flex;
 padding:10px 10px 10px 10px;
 background: #e0e0e0;
 margin-top:10px;
 border-radius:3px;
}

#discipline-filters {
 display: flex;
}

.filter-group {
  margin-right:20px;
}


.discipline-filter {
 width:24px; height:24px; border-radius:24px;
 cursor:pointer;
 color:#fff;
 margin-right:7px;
}
.discipline-filter.unselected { background:#fff; }

.filter-pt, .filter-pt:hover       { box-shadow:inset 0 0 0 2px var(--pt), 0 0 0 1px var(--pt); background: var(--pt); }
.filter-at, .filter-at:hover       { box-shadow:inset 0 0 0 2px var(--at), 0 0 0 1px var(--at); background: var(--at); }
.filter-ot, .filter-ot:hover       { box-shadow:inset 0 0 0 2px var(--ot), 0 0 0 1px var(--ot); background: var(--ot); }
.filter-slp, .filter-slp:hover     { box-shadow:inset 0 0 0 2px var(--slp), 0 0 0 1px var(--slp); background: var(--slp); }
.filter-other, .filter-other:hover { box-shadow:inset 0 0 0 2px var(--other), 0 0 0 1px var(--other); background: var(--other); }
.filter-lmt, .filter-lmt:hover     { box-shadow:inset 0 0 0 2px var(--lmt), 0 0 0 1px var(--lmt); background: var(--lmt); }
.filter-ent, .filter-ent:hover     { box-shadow:inset 0 0 0 2px var(--enterprise), 0 0 0 1px var(--enterprise); background: var(--enterprise); }

.discipline-filter:hover { transform: scale(1.1,1.1) }

.filters-active .filter-pt:not(.unselected):hover { background: #fff; }




.filtered-out * { display: none; visibility: hidden }
.slats > ul > li.filtered-out { display: none;
  /*max-height:4px; min-height:4px; height:4px; background:rgba(98, 241, 103, 0.67) !important; padding:0 !important; border:0 !important; margin:2px 0; */
}


#check-visible {
  cursor:pointer;
  width:24px; height:24px; border-radius:4px;
  background:#fff;
  box-shadow:inset 0 0 0 2px #ccc;
}


/************/
/************/
/************/
/* Import History */
/************/
/************/
/************/

.page-lists-dashboard-imports .row-dim {
 padding:8px 0;
}
.page-lists-dashboard-imports .row-dim > * {
  opacity:.4;
}
.page-lists-dashboard-imports .row-dim p,
.page-lists-dashboard-imports .row-dim h4 {
  font-size:12px !important;
  line-height:16px !important;
}


/************/
/************/
/************/

.page-campaigns-wizard-variateconfirm  li[data-social-share],
.page-campaigns-wizard-variateconfirm  li[data-social-share] + li {
  opacity: .33;
}
/************/
/************/
/************/

.toolbox-bar:empty {
  display: none;
}
.toolbox-bar {
  background: #1b2229;
  padding-left:8px;
  color: #fff;
  display: flex;
  font-weight:bold;
  height:22px; min-height:22px; max-height:22px;
  font-size:10px;
}
.toolbox-bar * {
  line-height:22px;
}
.toolbox-bar *:hover {
  text-decoration: underline;
}

/************/
/************/
/************/

.iframe-tools-wrapper {
  display: flex;
  position: absolute;
  margin-top:8px;
  margin-left:8px;
  background: rgba(0,0,0,0.2);
  border-radius:2px;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.5), 0 0 0 3px rgba(0,0,0,0.2);
}
.iframe-tools-wrapper a {
  color:#fff;
  text-align:center;
  line-height:25px;
  font-weight:bold;
  font-size:18px;
  display: block;
  width:25px;
  height:25px;
}
.iframe-tools-wrapper .iframe-tool-fullscreen {
  background: #398beb;
} .iframe-tools-wrapper .iframe-tool-fullscreen:hover { background: hsl(212, 81%, 62%); }
.iframe-tools-wrapper .iframe-tool-new-window {
  background: #4839eb;
} .iframe-tools-wrapper .iframe-tool-new-window:hover { background: hsl(245, 81%, 62%); }

.iframe-tools-wrapper a:hover {
  cursor:pointer;
  color:#fff;
}

#wrap {
  flex-direction: column;
}
.side-by-side-view {
  display: flex;
  flex-direction: column;
  height:600px;
  min-height:600px;
  padding:7px;
  background: #ccc;
  border-radius:5px;
  overflow: hidden;
  margin-top:10px;
}
.side-by-side-view.fullscreen {
  position: fixed; top: 0; z-index: 9999; left: 0; border-radius: 0; width: 100vw; height: 100vh; margin: 0;
}

.side-by-side-view .iframe-toolbar {
  height: auto;
  padding: 0 7px;
  display:flex;
  flex-direction: row-reverse;
}
.side-by-side-view .iframe-toolbar .iframe-maximize {
  border-radius:4px;
  background:rgba(0,0,0,0.2);
  cursor:pointer;
  font-size:12px;
  width:auto; height:30px; line-height:30px; text-align:center;
  padding:0 10px;
  font-weight:bold;
}
.side-by-side-view .iframe-toolbar .iframe-maximize:before {
  margin-right:6px;
}
.side-by-side-view .iframe-toolbar .iframe-maximize span {
  font-family:Roboto, Helvetica;
  vertical-align: bottom;
}
.side-by-side-view .iframe-toolbar .iframe-maximize:hover {
    background:#5193c2; color:#ffffff;
}


.side-by-side-view .iframe-ab-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.side-by-side-view .iframe-single-wrapper {
  flex: 1;
  margin:7px !important;
  display:flex;
  flex-direction: column;
  box-shadow:0 2px 4px rgba(0,0,0,0.2);
  border-radius:3px;
  overflow:hidden;
}
.side-by-side-view iframe {

  width:100%;
  height:100%;

}



.page-campaigns-show .mc-content,
.page-reports-show .mc-content {
  max-width: 100% !important;
}

.page-campaigns-show #content-tabs,
.page-reports-show #content-tabs,
.page-campaigns-show #content-tabs .unit.size1of1,
.page-reports-show #content-tabs .unit.size1of1 {
 overflow: visible !important;
}

.stitched-preview {
  display: flex; flex-direction:row;
  padding: 0 14px;
}
.stitched-preview iframe {
  width:50% !important;
  min-width:340px !important;
  box-shadow:0 0 7px rgba(0,0,0,0.3);
  background: #e7eaeb !important;
}
.stitched-preview table {
  width: calc(50% - 20px) !important;
  margin-right:20px;
}
.stitched-preview tr th:first-child,
.stitched-preview tr td:first-child {
  width:180px;
}



/*

 Lists PAGE

*/

.automate-modal .tingle-modal-box { width:400px !important; }

#member-grid-wrap .table-pagination > div:first-child { width: 66%; }
#member-grid-wrap .table-pagination > div:last-child { width: 34%; }

#member-grid-wrap .table-pagination > div > * {
  margin-right:6px !important;
}
#member-grid-wrap .table-pagination > div > *:last-child {
  margin-right:0 !important;
}

#member-grid-wrap .table-pagination .button {
  padding:0 10px !important;
}

/* Success! */
.members-list .feedback-block {
  position: fixed;
  top: 70px;
  right: 42px;
}

.btn-input-wrapper {
  display: inline-flex;
  background: #ccc;
  padding: 3px;
  border-radius: 3px;
  margin-right:18px;
  max-height:32px !important;
  overflow:hidden;
}
.btn-input-wrapper input {
  width:30px !important;
  max-width:30px !important;
  min-width: unset !important;
  margin:0 4px 0 0 !important;
  text-align:center !important;
  padding:0 !important;
  border-radius:3px !important;
  border:0 !important;
  height:26px !important;
  line-height:26px !important;
  min-height:unset !important;
}
.btn-input-wrapper div {
  margin:0 !important;
  height:auto !important;
  line-height:26px !important;
}
