.jk-helpBar {
  position: fixed;
  z-index:999999;
  bottom:0;
  left:0;

  background: #1e78d7;
  padding:10px 15px;
  box-shadow:0 0 40px rgba(0,0,0,0.3);
  display: flex;

  color:#444;

}

.jk-helpBar .copy {
  cursor:pointer;
  font-weight: bold;
  width:auto;
  background:#1264bb;
  color:#fff;
  padding:15px 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.jk-helpBar .copy:hover {
  background:#07478b;
}
