.course-options-wrapper .tingle-modal-box {
  width:400px;
}

.exported-code-wrapper {
  display:flex;
  flex-wrap: nowrap;
  align-items:flex-start;
  align-content:flex-start;
}
.exported-code-wrapper .exported-code-preview {
  width:660px;
  min-width:660px;
  height:90vh;
  /*padding:10px 10px 0 10px;*/
  /*display:flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  background: var(--newsletter-bg);
  box-sizing:border-box;
  border:0;
}
.exported-code-wrapper .exported-code-preview-wrapper {
  background:#fff;
}

.tingle-modal.fill .tingle-modal-box {
  width:90vw;
}
/*.course-options {
  width:300px;
  background:#fff;
  padding:30px;
}*/
.course-options .option-wrapper {
  padding:0 0 15px;
}
.course-options input[type="text"] {
  border-radius:3px;
  border:1px solid #ccc;
  padding:2px 4px;
}
.course-options label + input[type="text"] {
  margin-left:6px;
}
.course-options .option-wrapper .options-columns {
  display:flex;
  flex-direction:row;
}
.course-options .option-wrapper .options-columns > * {
  flex-grow:1;
}
.course-options .label-wrapper {
  padding:3px;
}
.course-options .option-title {
  font-weight:bold;
  padding:0 0 8px
}
.course-options input[type="radio"] { margin-right: 5px; }
.course-options label span {
  font-family:monospace;
  color:rgb(170,170,170);
}
.course-options-wrapper label, .course-options-wrapper input[type="radio"] {
  cursor:pointer;
}

.course-options .course-confirm {
  display:flex;
  margin-top:30px;
  flex-direction: row;
  justify-content: flex-end;
}
.course-options .btn-confirm {
  color:#fff; font-weight:bold;
  border-radius:4px;
  background: var(--mb-blue);
  border:0; outline:0;
  padding:10px 20px;
  box-shadow:none;
}
.course-options .btn-confirm:hover {
  background: var(--mb-blue-hover);
}
.course-options .btn-cancel {
  font-weight:bold;
  color:#444;
  background:none;
  border:0;
  margin-right:20px;
}


.course-wrapper {
  position:relative;
}
.select-course {
  width:100%; height:calc(100% - 40px);
  position:absolute;
  top:-0; left:0;
  z-index:1;
}
.select-course:hover {
  cursor:pointer;
  /*background: rgba(var(--pt-rgb), .5);*/
}

.select-course:before {
  width:50px;
  height:50px;
  line-height:50px;
  font-size:40px;
  color:#ccc;
  text-align:center;
  border-radius:0 0 0 10px;
  box-shadow: inset 0 0 0 3px #ccc;
  background: #fff;
  position:absolute; top:0; right:0;
}

.select-course.mb-check:before {
  background: var(--pt);
  color:#fff;
  box-shadow: inset 0 0 0 4px #fff;
}
.select-course.mb-check:hover:before {
  content:"\6f";
}

.select-course.mb-plus:hover:before {
  box-shadow: inset 0 0 0 4px var(--pt);
}
.select-course.mb-plus:hover:before {
  color:var(--pt);
}

.select-course.mb-check + .course-listing {
  box-shadow:0 0 0px 4px var(--pt);
  border-radius:0;
  overflow:hidden;
}

/*.select-course:before {
  text-align:center;
  line-height:40px;
}*/

.course-collection-wrapper {
  width:auto;
  max-width:100%;
  min-width:300px;
  /*height:160px;*/
  padding-bottom:20px; padding-left:20px; padding-right:20px;
  background:rgba(255,255,255,0.9);
  position:fixed;
  bottom:0; left:0;
  box-shadow:0 0 30px 0 rgba(0,0,0,0.35);
  z-index:100;
  border-radius:0 6px 0 0;
}
.course-collection {
  height:auto;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-items:center;
}
.course-menu {
  height:50px;
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-items:center;
}
.course-menu > div {
  cursor:pointer;
  color:#1964b3;
  margin-right:20px;
} .course-menu > div:last-child { margin:0; }

.course-copy {
  margin-right:10px;
  height:100px;
  width:178px;
  color:#fff;
  font-weight:bold;
  font-famiy:Roboto;
  font-size:12px;
  background:#000;
  border-radius:3px;
  padding:8px 14px 0 10px;
  position:relative;
  transition: all .4s;
}
.course-copy span {
  font-size:12px; font-weight:normal;
  display:block;
  padding-top:3px;
}
.course-copy:last-child {
  margin-right:0;
}

.course-copy img {
  width:178px;
  height:100px;
  display:block;
  position:absolute;
  top:0; left:0;
  z-index:0;
  opacity:.2;
}

.course-copy .mb-x.bubble:before, .course-copy .course-number.bubble {
  position:absolute;
  border-radius:100%;
  line-height:20px;
  text-align:center;
  box-shadow:0 0 0 3px #fff;
  width:20px; height:20px;
}

.course-copy .mb-x:before {
  top:-4px; right:-4px;
  cursor:pointer;
  background:#000;
}

.course-copy .course-number {
  bottom:-4px; right:-4px;
  background:#1964b3;
}

.course-listing.unapproved {
  opacity:.4;
}

.course-listing.unapproved:hover {
  opacity:.8;
}


/****************************/
/****************************/
/****************************/

.course-listing__wrapper .quick-info {
  /*margin-top:5px;*/
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-top:4px;
}

.course-listing__wrapper .quick-info > * {
  display: block;
  margin-right:4px;
}

.course-listing__wrapper .quick-info .quick-copy {
  font-size:10px;
  padding:2px 3px; border-radius:3px; background:#fff; display: inline-block; color:#1e78d7;
  min-height:17px; max-height:17px; line-height:13px;
}
.course-listing__wrapper .quick-info > .quick-copy:hover {
  background:#1e78d7;
  cursor: pointer;
  color:#fff;
}

.course-listing__wrapper .quick-info .icomoon {
  font-size:15px;
}




.course-settings {
  z-index:9999;
  position: fixed;
  display: flex;
  bottom: 0; left: 0;
  width:100%;
  padding: 30px;
  background:#fff;
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
  align-items: center;
  justify-content: center;
}
.course-settings .settings-group {
  margin-right:20px;
}
.course-settings .settings-controls {
  display: flex;
  height:25px;
}
.course-settings #tracking-mod-number {
  width:55px;
  text-align:center;
}
.course-settings #set-tracking-url {
  width:200px;
}
.course-settings .settings-label {
  display: block;
  font-weight:bold;
  font-size:13px;
  color:#434343;
  text-align: left;
  margin-bottom:5px;

}
.course-settings input[type="text"] {
  display: block;
  border-radius:4px;
  border:1px solid #ccc;
  outline:0;
  padding:2px 6px;
}

.course-settings .export-btn {
  border-left: 1px solid #ccc;
  padding-left: 30px;
  margin-left: 10px;
}



.course-listing__wrapper .quick-info > .export-course-btn {
  background: #1e78d7;
  border: 0;
  color: #fff;
  top: 3px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  margin-left:auto;
  margin-right:0;
  padding:5px 6px 3px 4px;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor:pointer;
}
.course-listing__wrapper .quick-info > .export-course-btn:hover {
  background: #398de6;
}
.course-listing__wrapper .quick-info > .export-course-btn span {
  margin-right:4px;
  position: relative;
  top:-1px;
}
.course-listing__wrapper .quick-info .icomoon-embed {
  font-size:14px;
}
